<%= render partial: "shared/topbar" %>

<div class="row">
	<div class="match-subpage-header">
	<h1>MESSAGES</h1>
	<h3>Your incoming messages.</h3>
	</div>
</div>

<div class="row collapse">
	<div class="small-11 small-centered columns" id="page-content">

		<% if @current_user.subscriber? %>

		<div class="conversations-container">
			<div class="conversations-header" id="conversations-current">
				<h2>MESSAGES</h2>
			</div>
			<div class="conversations-content">

								<% if @messages_unread > 0 %>
									<small><%= @messages_unread %> unread message<%= @messages_unread > 1 ? "s" : "" %></small>								
									<% if "horiz" == "horizzz" %>
										<div class="row collapse">
											<div class="small-12 columns">
												<table width="100%">
													<tbody>
													<% @unread_list.each do |m|  %>
													<% this_one = m.send(@current_user.type_inverse?) %>
													<tr id="pot_<%= this_one.id %>">
														<td>
														<%= render partial: "shared/profile/profile_list_tile_small_h", locals: {match: this_one} %>
														</td>
													</tr>
													<% end %>
													</tbody>
												</table>
											</div>
										</div>
									<% else %>
										<div class="row" style="padding: 0px;">
											<div class="small-12 columns">
												<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
													<% @unread_list.each do |m|  %>
													<% this_one = m.send(@current_user.type_inverse?) %>
													<li><%= render partial: "shared/profile/profile_list_tile_small_sq", locals: {match: this_one} %></li>
													<% end %>
												</ul>
											</div>
										</div>									
									<% end %>

								<% else %>
									<h3><em>No unread messages</em></h3>
								<% end %>

			</div>
		</div>


		<br>


		<div class="conversations-container">
			<div class="conversations-header" id="conversations-current">
				<h2>CONTACT REQUESTS</h2>
			</div>
			<div class="conversations-content">
				<% if @new_contact_messages > 0 %>
					<small><%= @new_contact_messages %> new contact request<%= @new_contact_messages > 1 ? "s" : "" %></small>
					<% if "horiz" == "horizzz" %>
						<div class="row collapse">
							<div class="small-12 columns">
								<table width="100%">
									<tbody>
									<% @new_requests_list.each do |m|  %>
									<% this_one = m.send(@current_user.type_inverse?) %>
									<tr id="pot_<%= this_one.id %>">
										<td>
										<%= render partial: "shared/profile/profile_list_tile_small_h", locals: {match: this_one} %>
										</td>
									</tr>
									<% end %>
									</tbody>
								</table>
							</div>
						</div>
					<% else %>
						<div class="row" style="padding: 0px;">
							<div class="small-12 columns">
								<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-4">
									<% @new_requests_list.each do |m|  %>
									<% this_one = m.send(@current_user.type_inverse?) %>
									<li><%= render partial: "shared/profile/profile_list_tile_small_sq", locals: {match: this_one} %></li>
									<% end %>
								</ul>
							</div>
						</div>									
					<% end %>
				<% else %>
					<h3><em>No new contact requests</em></h3>
				<% end %>

			</div>
		</div>


		<% else %>
		<div class="row collapse">
			<div class="small-6 small-centered text-center columns">
				<h1>Available to subscribers only</h1>
								<% if @new_contact_messages > 0 %>
									<h3>You have been contacted by <%= @new_contact_messages %> <%= @current_user.type_inverse? %><%= @new_contact_messages > 1 ? "s" : "" %><br>
										<%= link_to 'SUBSCRIBE', '#' %> to connect!
									</h3>
								<% end %>
						    <% if @messages_unread > 0 || @new_contact_messages > 0 %>
									<div class="panel text-left">
										<div class="row">
											<div class="medium-2 columns">
												<h1>[ <strong style="color: red;">!</strong> ]</h1>
											</div><!--/.medium-4-->
											<div class="medium-10 columns">
												<h3> A <%= @current_user.type_inverse? %> is interested in communicating with you. <br> <%= link_to 'SUBSCRIBE', '#' %> to initiate/resume contact. </h3>							
											</div><!--/.medium-10-->
										</div><!--/.row-->
									</div>
						    <% end %>
			</div><!--/.small-11 small-centered text-center-->
		</div><!--/.row-->
		<% end %>


	</div>
</div>
