<%= render partial: "shared/topbar" %>


<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumbs">
		  <li class="current"><%= link_to "Your Messages", "#" %></li>
		</ul>					
	</div>
</div>



<div class="row">
	<div class="small-12 columns">

			<h1> Messages</h1>
			<% if @messages_unread > 0 %>
				<div id="mc-unread-messages">	
					<small>
						<span class="alert label"><%= @messages_unread %> unread messages</span>
					</small>
					<div id="mc-unread-messages-inner">
					<% @unread_list.each do |m| %>
						<% this_one = m.send(@current_user.type_inverse?) %>
						<% a,b  = unread_count_from_match(this_one) %>
						<%= link_to this_one.company_name, view_match_url(this_one.id, "na") %> <strong><small> <%= b %> unread messages </small></strong><br>
						<% unless m == @unread_list.last %>
							<hr style="border-top: 1px solid #ccc">
						<% end %>
					<% end %>
					</div>
				</div>
			<% else %>
				<h3>No unread messages</h3>
			<% end %>
			
			<hr>

			<h1> Contact Requests</h1>
			<% if @new_contact_messages > 0 %>
				<div id="mc-new-contacts">
					<small>
						<span class="success label"><%= @new_contact_messages %> new contact requests</span> 
					</small>
				
					<div id="mc-new-contacts-inner">
					<% @new_requests_list.each do |m| %>
						<% this_one = m.send(@current_user.type_inverse?) %>
						<%= link_to this_one.company_name, view_match_url(this_one.id, "na") %>
						<% unless m == @new_requests_list.last %>
							<hr style="border-top: 1px solid #ccc">
						<% end %>
					<% end %>
					</div>
				</div>
			<% else %>
				<h3>No new contact requests</h3>
			<% end %>

		</div>


</div>
