<div class="row">
	<div class="small-12 columns text-right">
		<div class="ldpanel">
			Hello, <%= @current_user.user_profile.firstname %> | <%= link_to 'logout', logout_url %>
		</div>
	</div>
</div>

<div class="ldpanel">
	<div class="row">
		<div class="large-8 columns">
			<h4>New Distributor Profile</h4>
			<%= form_for @distributor, url: distributor_url do |f| %>
				<%= f.text_field :name %>

				<%= f.select :country_of_origin, options_from_collection_for_select(Country.all.sort_by {|m| m.name.downcase}, :shortcode, :name, 'us'), :prompt => 'Select Country' %>
				
					<h3>Sectors</h3>
					<% Sector.each do |sc| %>
				    <div>
				      <%= check_box_tag "sectors[#{sc.shortcode}]", sc.id, @distributor.sectors.find(sc.id) ? true : false %>
				      <%= label_tag(:sectors, sc.name) %>
				    </div>
				  <% end %>
					

					<h3>Channels</h3>
					<% Channel.each do |ch| %>
				    <div>
				    	<%= check_box_tag "channels[#{ch.shortcode}]", ch.id, @distributor.channels.find(ch.id) ? true : false  %>
				      <%= label_tag(:channels, ch.name) %>
				    </div>
				  <% end %>

			
				
				<%= f.select :year_established, 1970..Time.now.year %>

				<h3>Current Portfolio</h3>
				<%= f.text_area :current_lines %>

				<%= f.text_area :major_competitors %>



				<%= f.submit %>


			<% end %>
		</div>


	</div>

