<%= render partial: "shared/topbar" %>


<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumbs marketplace">
		  <li class="current"><%= render "shared/imageswap/marketplace_logo" %> <%= link_to "Your #{@current_user.type?} profile", "#" %></li>
		</ul>					
	</div>
</div>


<div class="row">
<div class="medium-6 push-6 columns">
	<ul class="button-group even-3">
  <li><%= link_to 'PUBLIC Profile', distributor_public_profile_url, class: "tiny button secondary" %></li>
  <li><%= link_to 'FULL Profile', distributor_full_profile_url, class: "tiny button secondary" %></li>
  <li><%= link_to 'EDIT Profile', "#", class: "tiny button info"%></li>
  </ul>
</div>
</div>


<div class="row">
	<div class="medium-12 medium-centered columns">

<%#= render partial: "shared/headpanel" %>

		<div class="row">
			<div class="medium-12 columns">

			<%= render layout: "shared/panel_fulledit" do %>

				<div class="row">
					<div class="small-12 columns">
						<a class="anchor" id="a-companyinfo"></a>
						<h1>Company Info</h1>
					</div>
				</div>

				<div class="row">
					<div class="medium-12 columns">
						<hr>
						<h3>General Info</h3>
					</div>
				</div>

				<%= form_for @distributor, url: distributor_url do |f| %>
				<%= hidden_field_tag "redirect_anchor", "a-companyinfo" %>
				<div class="row">
					<div class="medium-4 columns">

						<div class="row">
							<div class="medium-12 columns">
								<%= f.label :logo do %>
								Company logo <br>
								<%= image_tag @distributor.logo.url(:medium), width: "200", height: "200", alt: "Logo", id: "logo-preview"%>
								<% end %>
								<br>
								<%= f.file_field :logo, label: false, accept: 'image/png,image/gif,image/jpeg' %>
							</div>
						</div>	
											
					</div>
					<div class="medium-8 columns">
						<div class="row">
							<div class="medium-12 columns">
								<%= f.text_area :company_name, rows: 2, style: "font-size:2em; font-weight:bold;", placeholder: "Company Name" %>
							</div>
						</div>						
						<div class="row">
							<div class="medium-6 columns">
								<%= f.text_field :country_of_origin, class: "country-autocomplete", placeholder: 'Country (Headquarters)' %>
							</div>
							<div class="medium-6 columns">				
								<%= label_tag(:year_established, "Year established") %>
								<%= select_tag :year_established, options_for_select(1900..Time.now.year, @distributor.year_established ? @distributor.year_established.strftime("%Y") : '2000') %>
							</div>
						</div>
						<div class="row">
							<div class="medium-6 columns">

								<div class="row collapse">
									<%= label_tag(:website, "Website") %>
									<div class="small-3 columns">
										<span class="prefix">http://</span>
									</div>
									<div class="small-9 columns">
										<%= f.text_field :website, label: false %>
									</div>
								</div>

							</div>
							<div class="medium-6 columns">
								<%= label_tag(:company_size, "Company Size") %>
								<%= f.collection_select(:company_size, CompanySize.all, :id, :name) %>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<%= f.fields_for :contact_info do |ff| %>

				<div class="row">
					<div class="medium-6 columns">

						<div class="row">
							<div class="medium-12 columns">
								<h3>Contact Info</h3>
							</div>
						</div>
						<div class="row">
							<div class="medium-6 columns">
								<%= ff.text_field :contact_name %>
							</div>
							<div class="medium-6 columns">
								<%= ff.text_field :contact_title %>
							</div>						
						</div>
						<div class="row">
							<div class="medium-6 columns">
								<%= ff.text_field :email %>
							</div>
							<div class="medium-6 columns">
								<%= ff.text_field :phone %>
							</div>
						</div>

					</div>
					<div class="medium-6 columns">

							<div class="row">
								<div class="medium-12 columns">
									<h3>Company Address</h3>
								</div>
							</div>						
							<div class="row">
								<div class="medium-12 columns">
									<%= ff.text_field :address1, label: "Address" %>
								</div>
							</div>
							<div class="row">
								<div class="medium-12 columns">
									<%= ff.text_field :address2, label: "Address (cont'd)" %>
								</div>
							</div>
							<div class="row">
								<div class="medium-4 columns">
									<%= ff.text_field :city %>
								</div>
								<div class="medium-4 columns">
									<%= ff.text_field :state %>
								</div>
								<div class="medium-4 columns">
									<%= ff.text_field :postcode %>
								</div>
							</div>
							<div class="row">
								<div class="medium-6 columns">
									<%= ff.text_field :country, class: "country-autocomplete", placeholder: 'Country' %>
								</div>
							</div>
						</div>
					</div>


				<% end %>
				<hr>
				<%= f.submit 'Update Company Info', class: "tiny radius alert button right"  %>

				<% end %>

			<% end %>

			</div>
		</div>

<a class="anchor" id="a-sectors"></a>

		<div class="row" data-equalizer>
			<div class="medium-6 columns">

				<%= render layout: "shared/panel_fulledit", locals: {de: 'data-equalizer-watch'} do %>
					
					<%= form_for @distributor, url: distributor_url do |f| %>
					<%= f.hidden_field :company_name %>
					<%= hidden_field_tag "redirect_anchor", "a-sectors" %>
					<div class="row">
						<div class="small-12 columns">
							<h1>Sectors</h1>
						</div>
					</div>

					<div class="row editform">	
						<div class="medium-10 push-2 columns">		
							<% Sector.each do |sc| %>
								<%= check_box_tag "sectors[#{sc.id}]", sc.id, (@distributor.sectors.find(sc) rescue false) ? true : false %>
								<%= label_tag("sectors[#{sc.id}]", sc.name) %>
						  <% end %>
						</div>
					</div>

					<div class="row">
						<div class="medium-10 push-2 columns">
							<%= f.submit 'Update Sectors', class: "tiny radius alert button right" %>
						</div>
					</div>
					<% end %>

							
				<% end %>



			</div>
			<div class="medium-6 columns">


				<%= render layout: "shared/panel_fulledit", locals: {de: 'data-equalizer-watch'} do %>


				<div class="row">
					<div class="small-12 columns">
						<a class="anchor" id="a-exportcountries"></a>
						<h1>Countries of Distribution</h1>
					</div>
				</div>


				<div class="row">
					<div class="medium-12 medium-centered columns">
						
<%= render 'shared/profileform/export_countries_form' %>

					</div>
				</div>






				<% end %>

			</div>
		</div>


		<div class="row" data-equalizer>
			<div class="medium-6 columns">
				<%= render layout: "shared/panel_fulledit", locals: {de: 'data-equalizer-watch'} do %>


<a class="anchor" id="a-channels"></a>

					<%= form_for @distributor, url: distributor_url do |f| %>
					<%= f.hidden_field :company_name %>
					<%= hidden_field_tag "redirect_anchor", "a-channels" %>
					<div class="row">
						<div class="small-12 columns">
							<h1>Channels</h1>
						</div>
					</div>

					<div class="row editform">
						<div class="medium-10 push-2 columns">						
							<h3>Standard Channels</h3>
							<% Channel.each do |ch| %>
								<%= check_box_tag "channels[#{ch.id}]", ch.id, (@distributor.channels.find(ch) rescue false) ? true : false  %>
								<%= label_tag "channels[#{ch.id}]" do %>
									<%= ch.name %><br>
									<%= simple_format(ch.description, {style: "font-size: 0.75em; margin-left: 2em;"}, wrapper_tag: "div") %>
								<% end %>
						  <% end %>
						</div>
					</div>

					<div class="row">
						<div class="medium-10 push-2 columns">
							<%= f.submit 'Update Standard Channels', class: "tiny radius alert button right" %>
						</div>
					</div>
					<% end %>

					<div id="custom-channels-list">
						<%= render partial: 'shared/profileform/custom_channels_list', locals:{u: @distributor} %>
					</div>

				<div class="row">
					<div class="medium-10 push-2 columns">
						<div class="groupwrapper">

								<%= form_for @new_channel_capacity, :html => { :id => "new_channel_capacity" }, remote: true do |f| %>
									<div class="row">
										<div class="medium-12 columns">
											<h3>Add Custom Channel</h3>
										</div>
									</div>

									<div class="row">
										<div class="medium-9 columns">
											<%= f.text_field :custom_channel_name, label: false, placeholder: 'Custom Channel Name' %>
										</div>
										<div class="medium-3 columns text-right" style="padding: 0.7em 1em;">
											<%= f.submit 'ADD', class: "tiny radius alert button right" %>
											<%#= link_to 'add', "#", :onclick => "$('#new_channel_capacity').submit()".html_safe, class: "itemformlink" %>
										</div>
									</div>

								<% end %>	

						</div>
					</div>
				</div>			


				<% end %>
			</div>

			<div class="medium-6 columns">
				<%= render layout: "shared/panel_fulledit", locals: {de: 'data-equalizer-watch'} do %>


					<div class="row">
						<a class="anchor" id="a-channelcapacities"></a>
						<div class="small-12 columns">
							<h1>Channel Capacities</h1>
						</div>
					</div>

				<div class="row">
					<div class="medium-12 medium-centered columns">
						


							<div class="row">
								<div class="medium-6 columns text-right">
									<h4><strong>Channel</strong></h4>
								</div>
								<div class="medium-6 columns">
									<h4><strong>Capacity</strong></h4>
								</div>
							</div>	


							<%= form_tag(channel_capacity_bulkupdate_url, method: "post") do  %>
								<%= hidden_field_tag "redirect_anchor", "a-channelcapacities" %>

								<% if @distributor.channels.empty? %>
									<div class="row">
										<div class="medium-12 columns text-center">
										<h6 class="information">( Please Select Channels in Sector and Channel Profile )</h6>
										</div>
									</div>

								<% end %>

								<% @distributor.channels.each do |chan| %>

									<div class="row">
										<div class="medium-6 columns">
											<%= label_tag "channel_capacity[bulk_ids][#{chan.id}]", chan.name, class: "right" %>
										</div>
										<div class="medium-3 columns end">
											<%= number_field_tag("channel_capacity[bulk_ids][#{chan.id}]", @distributor.channel_capacities.where(channel_id: chan.id).first.capacity) %>
										</div>
									</div>
					
								<% end %>

								<div id="custom-channel-capacities-list">
									<%= render partial: 'shared/profileform/custom_channel_capacities_list', locals:{u: @distributor} %>
								</div>

									<div class="row">
										<div class="medium-12 columns">
											<hr>
											<%= submit_tag('Update Channel Capacities', class: "tiny radius alert button right") %>
										</div>
									</div>

							<% end %>					

						
					</div>
				</div>


				<% end %>
			</div>

		</div>


		<div class="row">
			<div class="medium-10 medium-centered columns">
				<%= render layout: "shared/panel_fulledit" do %>

					<div class="row">
						<div class="small-12 columns">
							<h1>Brand Portfolio</h1>
						</div>
					</div>

					<%= render partial: "shared/editcollblock", locals: { 
						headertitle: "Current Brands",
						coll: @current_brands,
						identifier: "brand",
						no_item_message: "No Current Brands",
						coll_new_item: @new_brand,
						coll_new_item_text: "Add a Current Brand",
						iscurrent: "true"
					} %>
					
					<div class="row">
						<div class="medium-6 medium-centered columns text-center">
							<hr>
						</div>
					</div>

					<%= render partial: "shared/editcollblock", locals: { 
						headertitle: "Past Brands",
						coll: @past_brands,
						identifier: "brand",
						no_item_message: "No Past Brands",
						coll_new_item: @new_brand,
						coll_new_item_text: "Add a Past Brand",
						iscurrent: "false"
					} %>

				<% end %>
			</div>
		</div>

		<div class="row" data-equalizer>
			<div class="medium-6 columns">

				<%= render layout: "shared/panel_fulledit", locals: {de: 'data-equalizer-watch'} do %>


					<div class="row">
						<div class="small-12 columns">
							<a class="anchor" id="a-sales"></a>
							<h1>Sales / Education Capabilities</h1>
						</div>
					</div>
					<br>
							
	
					<%= form_for @distributor, url: distributor_url do |f| %>
					<%= hidden_field_tag "redirect_anchor", "a-sales" %>
					<div class="row">

						<div class="medium-12 columns">
							<%= render partial: "shared/numeric_field", locals: {f: f, field: :outside_sales_size, fieldlabel: 'Outside Sales Force Size' } %>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<%= render partial: "shared/numeric_field", locals: {f: f, field: :inside_sales_size, fieldlabel: 'Inside Sales Force Size' } %>	
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<hr>
							<%= f.submit 'Update Sales/Education Capabilities', class: "tiny radius alert button right" %>
						</div>
					</div>
					<% end %>	

				<% end %>

			</div>
			<div class="medium-6 columns">

				<%= render layout: "shared/panel_fulledit", locals: {de: 'data-equalizer-watch'} do %>

					<div class="row">
						<div class="small-12 columns">
							<a class="anchor" id="a-marketing"></a>
							<h1>Marketing / PR Capabilities</h1>
						</div>
					</div>
					<br>


					<%= form_for @distributor, url: distributor_url do |f| %>
					<%= hidden_field_tag "redirect_anchor", "a-marketing" %>

					<div class="row">
						<div class="medium-12 columns">
							<h3>Internal Marketing/PR</h3>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<%= render partial: "shared/numeric_field", locals: {f: f, field: :internal_marketing_size, fieldlabel: 'Internal Marketing/Design Team Size' } %>
						</div>
					</div>

				<hr>

					<div class="row">
						<div class="medium-12 columns">
							<h3>External Marketing/PR</h3>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">

							<%= radio_button_tag("distributor[employ_pr_agency]", false,  (@distributor.employ_pr_agency rescue false) ? false : true ) %>
							<%= label_tag("distributor[employ_pr_agency]_false", "No, we do not employ an outside PR Agency") %>
							<%= radio_button_tag("distributor[employ_pr_agency]", true, (@distributor.employ_pr_agency rescue false) ? true : false ) %>
							<%= label_tag("distributor[employ_pr_agency]_true", "Yes, we employ an outside PR Agency") %>

						</div>
					</div>				

				<hr>

					<div class="row">
						<div class="medium-12 columns">
							<h3>Where have you marketed/advertised your products?</h3>
						</div>
					</div>
					<div class="row editform">
						<div class="medium-4 columns">
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_print", label: 'Print' } %>
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_online", label: 'Online' } %>
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_email", label: 'Email' } %>
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_outdoor", label: 'Outdoor' } %>
						</div>
						<div class="medium-4 columns end">
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_events", label: 'Events' } %>
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_direct_mail", label: 'Direct Mail' } %>
							<%= render partial: "shared/checkbox", locals: {field: "marketing_via_classes", label: 'Classes' } %>
						</div>
					</div>	

				<hr>

					<div class="row">
						<div class="medium-12 columns">
							<h3>Customer Database</h3>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<%= render partial: "shared/numeric_field", locals: {f: f, field: :customer_database_size, fieldlabel: 'Customer Database Size' } %>	
						</div>
					</div>
						<hr>
						 <%= f.submit 'Update Marketing / PR Capabilities', class: "tiny radius alert button right"  %>

					<% end %>

				<% end %>


			</div>
		</div>


		<div class="row">
			<div class="medium-10 medium-centered columns">
				<%= render layout: "shared/panel_fulledit" do %>

					<div class="row">
						<div class="small-12 columns">
							<h1>Tradeshows</h1>
						</div>
					</div>

					<%= render partial: "shared/editcollblock", locals: { 
						headertitle: "Shows Participated in",
						coll: @trade_shows,
						identifier: "name",
						no_item_message: "No Trade Shows",
						coll_new_item: @new_trade_show,
						coll_new_item_text: "Add a Trade Show",
						#iscurrent: true
					} %>

				<% end %>
			</div>
		</div>

	</div>
</div>


