<div class="row">
	<div class="small-12 columns">
		<div class="ldpanel">
		
			<div class="row">
				<div class="small-6 columns">
					<h5>Edit Distributor Profile</h5>
				</div>
				<div class="small-6 columns text-right">
						Hello, <%= @current_user.user_profile.firstname rescue @current_user.email %> | <%= link_to 'Dashboard', dashboard_url %> | <%= link_to 'logout', logout_url %>
				</div>
			</div>

		</div>
	</div>
</div>



<%= render partial: "shared/paneltop" %>
		<%= form_for @distributor, url: distributor_url do |f| %>
		<%= f.text_area :name, rows: 2, style: "font-size:2em; font-weight:bold;", placeholder: "Distributor Name" %>
		<%= f.submit 'Update' %>
		<% end %>
<%= render partial: "shared/panelbottom" %>


<%= render partial: "shared/paneltop" %>
		

				<h3>Company Info</h3>
				<%= form_for @distributor, url: distributor_url do |f| %>
				<div class="row">
					<div class="medium-6 columns">
						<%= f.select :country_of_origin, options_from_collection_for_select(Country.all.sort_by {|m| m.name.downcase}, :shortcode, :name, @distributor.country_of_origin.empty? ? 'us' : @distributor.country_of_origin ), :prompt => 'Select Country' %>
					</div>
					<div class="medium-6 columns">				
						<%= label_tag(:year_established, "Year established:") %>
						<%= select_tag :year_established, options_for_select(1970..Time.now.year, @distributor.year_established ? @distributor.year_established.strftime("%Y") : '') %>
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<%= f.text_field :website %>
					</div>
				</div>
				<%= f.fields_for :contact_info do |ff| %>
					<div class="row">
						<div class="medium-12 columns">
							<%= ff.text_field :contact_name %>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<%= ff.text_field :contact_title %>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<%= ff.text_field :email %>
						</div>
						<div class="medium-6 columns">
							<%= ff.text_field :phone %>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<%= ff.text_field :address1, label: "Address" %>
						</div>
					</div>
					<div class="row">
						<div class="medium-12 columns">
							<%= ff.text_field :address2, label: "Address (cont'd)" %>
						</div>
					</div>
					<div class="row">
						<div class="medium-4 columns">
							<%= ff.text_field :city %>
						</div>
						<div class="medium-4 columns">
							<%= ff.text_field :state %>
						</div>
						<div class="medium-4 columns">
							<%= ff.text_field :postcode %>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<%= ff.select :country, options_from_collection_for_select(Country.all.sort_by {|m| m.name.downcase}, :shortcode, :name, @distributor.contact_info.country.empty? ? 'us' : @distributor.contact_info.country ), :prompt => 'Select Country' %>
						</div>
					</div>
				<% end %>

				<%= f.submit 'Update' %>

				<% end %>

<%= render partial: "shared/panelbottom" %>



<%= render partial: "shared/paneltop" %>

				<div class="row">
					<%= form_for @distributor, url: distributor_url do |f| %>
					<div class="medium-6 columns">
					<%= f.hidden_field :name %>		
					<h3>Sectors</h3>
						<% Sector.each do |sc| %>
					    <div>
					      <%= check_box_tag "sectors[#{sc.id}]", sc.id, (@distributor.sectors.find(sc) rescue false) ? true : false %>
					      <%= label_tag("sectors[#{sc.id}]", sc.name) %>
					    </div>
					  <% end %>
					</div>
					<div class="medium-6 columns">						
						<h3>Channels</h3>
						<% Channel.each do |ch| %>
					    <div>
					    	<%= check_box_tag "channels[#{ch.id}]", ch.id, (@distributor.channels.find(ch) rescue false) ? true : false  %>
					      <%= label_tag("channels[#{ch.id}]", ch.name) %>
					    </div>
					  <% end %>
					</div>
				</div>
				<%= f.submit 'Update' %>
				<% end %>
			
<%= render partial: "shared/panelbottom" %>


<%= render partial: "shared/paneltop" %>

				<h3>Current Portfolio</h3>
				<table>
				<thead><tr><th>Brand</th><th>Category</th><th>Website</th><th>Country of Manufacture</th><th colspan="2">&nbsp;</th></tr></thead>
				<tbody>
				<% if !@current_brands.empty? %>
					<% @current_brands.each do |cb| %>
					<tr>
						<%= form_for cb do |f| %>
						<td><%= f.text_field :brand, label: false %></td>
						<td>
							<%= f.select :category, options_from_collection_for_select(Sector.all.sort_by {|m| m.name.downcase}, :id, :name, cb.category), :prompt => 'Select Category', label: false %>
						</td>
						<td><%= f.text_field :website, label: false %></td>
						<td><%= f.text_field :country_of_manufacture, label: false %></td>
						<td>
						<%= link_to 'Update', "#", :onclick => "$('#edit_#{dom_id(cb)}').submit()".html_safe %>
						</td>
						<td><%= link_to 'Delete', cb, :method => :delete, data: { :confirm => "Are you sure you want to delete #{cb.brand}?"}%></td>
						<% end %>
					</tr>	
					<% end %>
				<% else %>
					<tr><td colspan="4">No Current Brands</td></tr>
				<% end %>


				<%= form_for @new_brand, :html => { :id => "new_current_brand" } do |f| %>
				<%= f.hidden_field :current, value: true %>

						<tr>
						<td><%= f.text_field :brand, label: false, placeholder: 'Brand' %></td>
						<td>
						<%= f.select :category, options_from_collection_for_select(Sector.all.sort_by {|m| m.name.downcase}, :id, :name, :prompt => 'Select Category'), :prompt => 'Select Category', label: false %>
						</td>
						<td><%= f.text_field :website, label: false, placeholder: 'Website'  %></td>
						<td><%= f.text_field :country_of_manufacture, label: false, placeholder: 'Country of Manufacture'  %></td>
						<td colspan="2"><%= link_to 'Add', "#", :onclick => "$('#new_current_brand').submit()".html_safe %></td>
						</tr>

				<% end %>
				</tbody>
				</table>

				<h3>Past Portfolio</h3>
				<table>
				<thead><tr><th>Brand</th><th>Category</th><th>Website</th><th>Country of Manufacture</th><th colspan="2">&nbsp;</th></tr></thead>
				<tbody>
				<% if !@past_brands.empty? %>
					<% @past_brands.each do |cb| %>
					<tr>
						<%= form_for cb do |f| %>
						<td><%= f.text_field :brand, label: false %></td>
						<td>
								<%= f.select :category, options_from_collection_for_select(Sector.all.sort_by {|m| m.name.downcase}, :id, :name, cb.category), :prompt => 'Select Category', label: false %>
						</td>
						<td><%= f.text_field :website, label: false %></td>
						<td><%= f.text_field :country_of_manufacture, label: false %></td>
						<td>
								<%= link_to 'Update', "#", :onclick => "$('#edit_#{dom_id(cb)}').submit()".html_safe %>
						</td>
						<td><%= link_to 'Delete', cb, :method => :delete, data: { :confirm => "Are you sure you want to delete #{cb.brand}?"}%></td>
						<% end %>
					</tr>	
					<% end %>
				<% else %>
					<tr><td colspan="4">No Past Brands</td></tr>
				<% end %>

				<%= form_for @new_brand, :html => { :id => "new_past_brand" } do |f| %>
				<%= f.hidden_field :current, value: false %>

						<tr>
						<td><%= f.text_field :brand, label: false, placeholder: 'Brand' %></td>
						<td>
								<%= f.select :category, options_from_collection_for_select(Sector.all.sort_by {|m| m.name.downcase}, :id, :name, :prompt => 'Select Category'), :prompt => 'Select Category', label: false %>
						</td>
						<td><%= f.text_field :website, label: false, placeholder: 'Website' %></td>
						<td><%= f.text_field :country_of_manufacture, label: false, placeholder: 'Country of Manufacture' %></td>
						<td colspan="2"><%= link_to 'Add', "#", :onclick => "$('#new_past_brand').submit()".html_safe %></td>
						</tr>

				<% end %>
				</tbody>
				</table>

<%= render partial: "shared/panelbottom" %>


<%= render partial: "shared/paneltop" %>

				<h3>Channel Capacity</h3>

				<%= form_for @distributor, url: distributor_url do |f| %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_directly_operated_sites, fieldlabel: 'Directly Operated Sites or Stores' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_department_stores, fieldlabel: 'Department Stores' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_salons, fieldlabel: 'Salons' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_specialty_retailers, fieldlabel: 'Specialty Retailers' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_home_shopping_networks, fieldlabel: 'Home Shopping Networks' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_online_malls, fieldlabel: 'Online Malls' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :capacity_social_commerce_sites, fieldlabel: 'Social Commerce Sites' } %>

				<%= f.submit 'Update' %>
				<% end %>

<%= render partial: "shared/panelbottom" %>


<%= render partial: "shared/paneltop" %>

				<h3>Sales/Education Capabilities</h3>
				<%= form_for @distributor, url: distributor_url do |f| %>

				<%= render partial: "shared/numeric_field", locals: {f: f, field: :outside_sales_size, fieldlabel: 'Outside Sales Size' } %>
				<%= render partial: "shared/numeric_field", locals: {f: f, field: :inside_sales_size, fieldlabel: 'Inside Sales Size' } %>	

				<%= f.submit 'Update' %>
				<% end %>	

				<div class="row">
					<div class="medium-12 columns">
						
						<h3>Shows Participated In</h3>
						<table>
						<thead><tr><th>Show Name</th><th>Date</th><th>Country</th><th>Years Participated</th><th>Website</th><th colspan="2">&nbsp;</th></tr></thead>
						<tbody>
						<% if !@trade_shows.empty? %>
							<% @trade_shows.each do |cb| %>
							<tr>
								<%= form_for cb do |f| %>
								<td><%= f.text_field :name, label: false %></td>
								<td><%= f.text_field :date, label: false, class: "datepick", :value => cb.date ? cb.date.strftime("%m/%Y") : '' %></td>
								<td><%= f.select :country, options_from_collection_for_select(Country.all.sort_by {|m| m.name.downcase}, :shortcode, :name, cb.country ? cb.country : 'us' ), :prompt => 'Select Country', label: false %></td>
								<td><%= f.text_field :years_participated, label: false %></td>
								<td><%= f.text_field :website, label: false %></td>
								<td>
										<%= link_to 'Update', "#", :onclick => "$('#edit_#{dom_id(cb)}').submit()".html_safe %>
								</td>
								<td><%= link_to 'Delete', cb, :method => :delete, data: { :confirm => "Are you sure you want to delete #{cb.name}?"}%></td>
								<% end %>
							</tr>	
							<% end %>
						<% else %>
							<tr><td colspan="4">No Trade Shows</td></tr>
						<% end %>

						<%= form_for @new_trade_show, :html => { :id => "new_trade_show" } do |f| %>
								<tr>
								<td><%= f.text_field :name, label: false, placeholder: 'Trade Show Name' %></td>
								<td><%= f.text_field :date, label: false, placeholder: 'Date' , class: "datepick" %></td>
								<td><%= f.select :country, options_from_collection_for_select(Country.all.sort_by {|m| m.name.downcase}, :id, :name ), :prompt => 'Select Country', label: false %></td>
								<td><%= f.text_field :years_participated, label: false, placeholder: 'Years participated' %></td>
								<td><%= f.text_field :website, label: false, placeholder: 'Website' %></td>
								<td colspan="2"><%= link_to 'Add', "#", :onclick => "$('#new_trade_show').submit()".html_safe %></td>
								</tr>
						<% end %>
						</tbody>
						</table>
						
					</div>
				</div>				

<%= render partial: "shared/panelbottom" %>

<%= render partial: "shared/paneltop" %>

			<h3> Marketing/PR Capabilities</h3>
				<%= form_for @distributor, url: distributor_url do |f| %>

				<%= render partial: "shared/numeric_field", locals: {f: f, field: :internal_marketing_size, fieldlabel: 'Internal Marketing/Design Team Size' } %>
				<div class="row">
					<div class="medium-12 columns">
						Outside PR Agency<br>
						<%= f.check_box :employ_pr_agency, { label: " We employ a PR agency" }, "true", "false" %>
					</div>
				</div>				

				<div class="row">
					<div class="small-12 columns">
						Where have you marketed/advertised your products?
					</div>
			 </div>

				<div class="row">
					<div class="medium-2 columns">
						<%= f.check_box :marketing_via_print, { label: " Print" }, "true", "false" %>
						<%= f.check_box :marketing_via_online, { label: " Online" }, "true", "false" %>
						<%= f.check_box :marketing_via_email, { label: " Email" }, "true", "false" %>
						<%= f.check_box :marketing_via_outdoor, { label: " Outdoor" }, "true", "false" %>
					</div>
					<div class="medium-2 columns end">
						<%= f.check_box :marketing_via_events, { label: " Events" }, "true", "false" %>
						<%= f.check_box :marketing_via_direct_mail, { label: " Direct Mail" }, "true", "false" %>
						<%= f.check_box :marketing_via_classes, { label: " Classes" }, "true", "false" %>
					</div>
				</div>	

				<div class="row">
					<div class="small-12 columns">
						Customer Database<br>
						<%= render partial: "shared/numeric_field", locals: {f: f, field: :customer_database_size, fieldlabel: 'Customer Database Size' } %>	
					</div>
				</div>

					 <%= f.submit 'Update' %>

			 <% end %>

<%= render partial: "shared/panelbottom" %>



