
<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="medium-2 hide-for-small-only columns text-right" id="side-nav-container">
		<%= render 'shared/matches/side_nav' %>
	</div><!--/.medium-4 hide-for-small-only -->
	<div class="small-12 medium-10 columns" id="side-nav-content">



<div class="row">
	<div class="medium-6 push-6 columns">
		<ul class="button-group even-3">
	  <li><%= link_to 'PUBLIC Profile', distributor_public_profile_url, class: "tiny button secondary" %></li>
	  <li><%= link_to 'FULL Profile', "#", class: "tiny button info"%></li>
	  <li><%= link_to 'EDIT Profile', distributor_url, class: "tiny button secondary" %></li>
	  </ul>
	</div>
	<div class="medium-6 pull-6 columns">

		<div class="row">
		<div class="small-12 columns">
			<div data-alert class="alert-box secondary radius">
				<div class="row">
					<div class="small-6 columns">
							<p>This is your Full Profile.<br>  [Stuff here about full profiles]</p>
					</div>
					<div class="small-6 columns">					
						<div class="row">
							<div class="small-12 columns text-center">
								<% percent = check_distributor_full_profile %>
								<div class="progress small-12 <%= percent == 100 ? "success" : "" %>" style="margin: auto;">
								  <span class="meter" style="width: <%= percent %>%"></span>
								</div>
								<small>Your Full Profile is <%= percent == 100 ? "" : "#{percent}%" %> Complete!</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		

	</div><!--/.medium-6 pull-6-->
</div>




	<div class="row">
		<div class="medium-12 columns previewtile">

			<%= render partial: "/shared/profile/distributor_full_profile", locals: {profile: @profile}  %>

		</div><!-- /.medium-12 .columns .previewtile -->
	</div><!-- /.row -->

		</div>
	</div><!-- /.row -->
	