
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumbs marketplace">
		  <li class="current"><img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" /> <%= link_to "Your #{@current_user.type?} profile", "#" %></li>
		</ul>					
	</div>
</div>


<div class="row">
	<div class="medium-6 push-6 columns">
		<ul class="button-group even-3">
	  <li><%= link_to 'PUBLIC Profile', "#", class: "tiny button info"%></li>
	  <li><%= link_to 'FULL Profile', distributor_full_profile_url, class: "tiny button secondary" %></li>
	  <li><%= link_to 'EDIT Profile', distributor_url, class: "tiny button secondary" %></li>
	  </ul>
	</div>
	<div class="medium-6 pull-6 columns">
		
		<div class="row">
		<div class="small-12 columns">
			<div data-alert class="alert-box secondary radius">
				<div class="row">
					<div class="small-6 columns">
							<p>This is your Public Profile.<br>  [Stuff here about public profiles]</p>
					</div>
					<div class="small-6 columns">					
						<div class="row">
							<div class="small-12 columns text-center">
								<% percent = check_distributor_public_profile %>
								<div class="progress small-12 <%= percent == 100 ? "success" : "" %>" style="margin: auto;">
								  <span class="meter" style="width: <%= percent %>%"></span>
								</div>
								<small>Your Public Profile is <%= percent == 100 ? "" : "#{percent}%" %> Complete!</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	</div><!--/.medium-6 pull-6-->
</div>



	<div class="row">
		<div class="medium-12 columns previewtile">

			<%#= render partial: "/shared/profile/public_profile_tabs" %>
			<%= render partial: "/shared/profile/distributor_public_profile_tiles", locals: {profile: @profile}  %>
			
		</div>
	</div><!-- /.row -->

