<%= render partial: "shared/topbar" %>
<%= render layout: "shared/panel" do %>

	<div class="row">
		<div class="medium-12 columns">
			<h1>Marketing Activities</h1>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 medium-centered columns text-center">
			<br>
			<div class="onboard-instructions">Instructions here...</div>
			<hr>
		</div>
	</div>

	<div class="row">
	<%= form_for @brand, url: brand_url do |f| %>
	<%= hidden_field_tag :redirect, 'eight' %>
		<div class="medium-12 columns">
			<%= f.text_area :brand_positioning, label: "Brand Positioning", placeholder: 'Brand Positioning' %>
			<%= f.submit 'Update and Continue', class: "tiny radius success button right" %>
		</div>
	<% end %>
	</div>

<% end %>