<div class="row">
	<div class="medium-9 columns">
		<div class="ldpanel">

		<h4><%= profile_section_name %></h4>
		
		<table>
		<tr><th>Name</th><th>Shortcode</th><th>&nbsp;</th></tr>
		<% profile_section.each do |s| %>
			<tr>
			<td><%= s.name %></td>
			<td><%= s.shortcode %></td> 
			<td><%= link_to 'delete', s, :method => :delete, data: { :confirm => "Are you sure you want to delete #{s.name}?"}%></td>
			</tr>
		<% end %>
		
		<% if flash[:"#{profile_section.name.downcase}_error"] %>
			<tr><td colspan="3"><div data-alert class="alert-box alert">
				<% flash[:"#{profile_section.name.downcase}_error"].each do |k,v| %>
					<%= k %> <%= v %> <br>
				<% end %>
			  <a href="#" class="close">&times;</a>
			</td></tr>
			</div>
		<% end %>
		<%= form_for new_profile_section do |f| %>
		<tr>
			<td>
				<%= f.text_field :name, :placeholder => "Name", label: false %>
			</td>
			<td>
				<%= f.text_field :shortcode, :placeholder => "Shortcode", label: false %>
			</td>
			<td>
				<%= f.submit "Add", class: "tiny radius alert button" %>
			</td>
		</tr>
		<% end %>
		</table>


		</div>
	</div>
</div>
