<div class="row">
	<div class="medium-12 columns">
		<%= f.text_field :product_or_category, label: "Product or Category", placeholder: 'Product or Category' %>
	</div>							
</div>
<div class="row">
	<div class="medium-4 columns">
<%= f.text_field :country, class: "country-autocomplete", label: "Country", placeholder: 'Country' %>
	</div>
	<div class="medium-4 columns">
<%= f.text_field :date, label: "Date", placeholder: 'Date' , class: "datepick" %>
	</div>
	<div class="medium-4 columns">
<%= f.select(:status, options_for_select([['Compliant', 'Compliant'], ['Pending Compliance', 'Pending Compliance']], defined?(cb) ? cb.status : ""), label: "Status", prompt: "Select Status") %>
	</div>
</div>
<div class="row">						
	<div class="medium-12 columns">
		<%= f.text_area :compliance_description, label: "Compliance Description", placeholder: 'Compliance Description'%>
	</div>				
</div>