	
	<% if defined? iscurrent %>
		<% if iscurrent = 'true' %>
			<%= f.hidden_field :current, value: true %>
		<% else %>
			<%= f.hidden_field :current, value: false %>
		<% end %>
	<% end %>

	<div class="row">
		<div class="medium-8 columns">
			<%= f.text_field :brand, label: "Brand Name" %>
		</div>
		<div class="medium-4 columns">
			<%= f.select :category, options_from_collection_for_select(Sector.all.sort_by {|m| m.name.downcase}, :id, :name, (defined? cb) ? cb.category : ''), :prompt => 'Select Category', label: "Category" %>
		</div>					
	</div>
	<div class="row">					
		<div class="medium-8 columns">

			<div class="row collapse">
				<%= label_tag(:website, "Website") %>
				<div class="small-2 columns">
					<span class="prefix">http://</span>
				</div>
				<div class="small-10 columns">
					<%= f.text_field :website, label: false %>
				</div>
			</div>

		</div>
		<div class="medium-4 columns">
			<%= f.text_field :country_of_manufacture, class: "country-autocomplete-multi", label: "Manufactured in", placeholder: 'Country of Manufacture' %>
		</div>				
	</div>