<div class="row">
	<div class="medium-12 columns">
		<%= f.text_field :source, label: "Source", placeholder: 'Source' %>
	</div>
</div>
<div class="row">
	<div class="medium-8 columns">

		<div class="row collapse">
			<%= label_tag(:link, "Link") %>
			<div class="small-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-10 columns">
				<%= f.text_field :link, label: false %>
			</div>
		</div>

	</div>
	<div class="medium-4 columns">
		<% if defined?(cb) && cb.date %>
			<%= f.text_field :date, label: "Date", value: cb.date.strftime("%d/%m/%Y"), placeholder: 'Date' , class: "datepick_full" %>
		<% else %>
			<%= f.text_field :date, label: "Date", placeholder: 'Date' , class: "datepick_full" %>
		<% end %>
	</div>									
</div>
<div class="row">			
	<div class="medium-3 columns">
		upload here 
	</div>
	<div class="medium-9 columns">
		<%= f.text_area :quotes, label: "Quotes", placeholder: 'Quotes' %>
	</div>				
</div>