<div class="row">
	<div class="medium-5 columns">
		<%= f.text_field :name, label: "Trade Show Name", placeholder: 'Trade Show Name' %>
	</div>
	<div class="medium-3 columns">
		<%= f.text_field :date, label: "Date", placeholder: 'Date' , class: "datepick" %>
	</div>
	<div class="medium-4 columns">
		<%= f.text_field :country, class: "country-autocomplete", label: "Country", placeholder: 'Country' %>
	</div>
</div>
<div class="row">
	<div class="medium-4 columns">
		<%= f.text_field :years_participated, label: "Years Participated", placeholder: 'Years participated' %>
	</div>
	<div class="medium-8 columns">

		<div class="row collapse">
			<%= label_tag(:website, "Website") %>
			<div class="small-2 columns">
				<span class="prefix">http://</span>
			</div>
			<div class="small-10 columns">
				<%= f.text_field :website, label: false %>
			</div>
		</div>

	</div>
</div>