<% content_for :title do %>
  Login
<% end %>



<div class="row">
	<div class="medium-9 columns">

		<h2>[Name TBD]</h2>

		<div class="row">
			<div class="medium-12 columns">
				<% if flash[:notice] %>
						<div data-alert class="alert-box success">
					  	<%= flash[:notice] %>
						  <a href="#" class="close">&times;</a>
						</div>
				<% end %>

				<% if flash[:error] %>
						<div data-alert class="alert-box warning">
					  	<%= flash[:error] %>
						  <a href="#" class="close">&times;</a>
						</div>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="medium-5 columns">
				<%= form_tag '/login', method: 'post' do %>
					<%= email_field_tag :email, '', placeholder: 'email'%> 
			</div>
			<div class="medium-1 columns" style="padding: 1.2em;">
				/
			</div>
			<div class="medium-5 columns">
				<%= password_field_tag :password, '', placeholder: 'password' %>
			</div>
			<div class="medium-1 columns">
					<%= submit_tag 'login', class: "tiny radius success button" %>
				<% end %>
			</div>
		</div>

	</div>
</div>