<%= render partial: "shared/topbar" %>

<% content_for :subnav do %>
<div class="row">
	<div class="small-12 columns">
		<dl class="sub-nav">
		  <dd><%= link_to 'All Users', users_url %></dd>
		  <dd class="active"><%= link_to "#" do %> Edit<strong>User - <%=@user.email%></strong> <% end %></dd>
		</dl>
	</div>
</div>
<% end %>

<% if flash[:notice] %>
<div class="row">
	<div class="small-5 columns panel">
		
				<div data-alert class="alert-box alert round">
			  	<%= flash[:notice] %>
				  <a href="#" class="close">&times;</a>
				</div>
		
	</div>
</div>
<% end %>

<div class="row">
	
		<div class="small-5 columns panel">
			<h4>Change<br><strong>email</strong></h4>
				<%= form_for @user, url: user_path(@user) do |f| %>
					<%= hidden_field_tag 'update_type', 'email' %>
					<%= f.text_field :email %>
					<%= f.submit 'Change email', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
				<% end %>
		</div>
		
</div>

<div class="row">
	
		<div class="small-5 columns panel">
			<h4>Change<br><strong>password</strong></h4>
				<%= form_for @user, url: user_path(@user) do |f| %>
					<%= hidden_field_tag 'update_type', 'password' %>
					<%= f.password_field :new_password %>
					<%= f.password_field :new_password_confirmation %>
					<%= f.submit 'Change password', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
				<% end %>
		</div>

</div>


<div class="row">
	
		<div class="small-5 columns panel">
			<h4>Change<br><strong>password</strong></h4>
				<%= form_for @user, url: user_path(@user) do |f| %>
					<%= hidden_field_tag 'update_type', 'adminsubscriber' %>
					<%= f.check_box :administrator %>
					<%= f.check_box :subscriber %>
					<%= f.submit 'update', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
				<% end %>
		</div>

</div>

