<%= render partial: "shared/topbar_admin" %>


<% content_for :subnav do %>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs">
		  <li><%= link_to "All Users", users_url %></li>
		  <li class="current"><%= link_to "#" do %> Edit User - <strong><%=@user.email%></strong> <% end %></li>
		</ul>					
	</div>
</div>

<% end %>

<% if flash[:notice] %>
<div class="row">
	<div class="small-12 columns panel">
		
				<div data-alert class="alert-box alert round">
			  	<%= flash[:notice] %>
				  <a href="#" class="close">&times;</a>
				</div>
		
	</div>
</div>
<% end %>



<div class="row">
	<div class="medium-6 columns">
		
		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Change email (username)</h2>
					<%= form_for @user, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'email' %>
						<%= f.text_field :email %>
						<%= f.submit 'Change email', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
					<% end %>
				</div>
			</div>
				
		</div>

		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Change password</h2>
					<%= form_for @user, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'password' %>
						<%= f.password_field :new_password %>
						<%= f.password_field :new_password_confirmation %>
						<%= f.submit 'Change password', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
					<% end %>
				</div>
			</div>

		</div>


		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Upload Logo</h2>
				<% user_profile = @user.brand || @user.distributor %>

					<%= form_for @user, :html => {id: 'user-update-logo-upload'}, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'logo' %>
						<%= f.fields_for @user.type? do |ff| %>

								<%= ff.label :logo do %>
								Company logo <br>
								<%= image_tag user_profile.logo.url(:medium), alt: "Logo", id: "logo-preview"%>
								<% end %>
								<br>
								<%= ff.file_field :logo, class: 'hide-upload', label: false, accept: 'image/png,image/gif,image/jpeg' %>
						<% end %>
						<%#= f.submit 'Upload Logo', class: "tiny radius success button" %>
					<% end %>

					<h2>Logo Finding Links</h2>

					<% if !user_profile.facebook.blank? %>

						<h3><%= link_to "Facebook", "//#{clean_url(user_profile.facebook)}", target: "blank" %></h3>
						<% if facebook_id = fb_picture(user_profile.facebook) %>
							<%= image_tag facebook_id %>
							<h4><%= facebook_id %></h4>
						<% end %>

					<% else %>

						<h3> NO Facebook </h3>

					<% end %>


					<h3><%= !user_profile.linkedin.blank? ? (link_to "LinkedIn", "//#{clean_url(user_profile.linkedin)}", target: "blank") : "NO LinkedIn" %></h3>

					<h3><%= !user_profile.website.blank? ? (link_to "Website", "//#{clean_url(user_profile.website)}", target: 'blank') : "NO Website" %></h3>

				</div>
			</div>

		</div>


		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Change status</h2>
					<%= form_for @user, url: user_path(@user) do |f| %>
						<%= hidden_field_tag 'update_type', 'adminsubscriber' %>
						<%= f.fields_for (@user.distributor ? :distributor : :brand) do |ff| %>
						<%= ff.check_box :subscriber %>
						<% end %>

						<%= f.submit 'update', class: "tiny radius success button" %> <%= link_to 'Cancel', users_path, class: "tiny radius info button"  %>
					<% end %>
				</div>
			</div>

		</div>

	</div><!--/.medium-6-->
	<div class="medium-6 columns">
	<% if @user.distributor %>
		<div class="row">
			
			<div class="small-12 columns">
				<div class="panel">
				<h2>Validation</h2>
				<%= form_for @user.distributor, url: distributor_validation_path(@user.distributor) do |f| %>

				<div class="row">
					<div class="small-12 columns">
						<%= f.text_area :verification_notes, label: ' Notes (only visible to administrators)'  %>		
					</div><!--/.small-12-->
				</div><!--/.row-->
<hr>				

				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_website, label: ' Website'  %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">
						<% if @user.distributor.website.blank?  %>
							<h3> NO WEBSITE </h3>
						<% else %>						
							<h3><%= link_to @user.distributor.website.sub(/^https?\:\/\//, '').sub(/^www./,''), "//#{@user.distributor.website.sub(/^https?\:\/\//, '').sub(/^www./,'')}", target: 'blank' %></h3>
						<% end %>
					</div><!--/.small-8-->
				</div><!--/.row-->
<hr>				
				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_social_media, label: ' Social Media'  %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">
						<% if @user.distributor.facebook.blank? && @user.distributor.linkedin.blank? %>
						<h3> NO SOCIAL MEDIA </h3>
						<% end %>
						<% unless @user.distributor.facebook.blank? %>
						<h3><%= link_to "Facebook", @user.distributor.facebook.sub(/^https?\:\/\//, '').sub(/^www./,'') %></h3>
						<h3><%= @user.distributor.facebook.sub(/^https?\:\/\//, '').sub(/^www./,'') %></h3>
						<% end %>
						<% unless @user.distributor.linkedin.blank? %>
						<h3><%= link_to "LinkedIn", @user.distributor.linkedin.sub(/^https?\:\/\//, '').sub(/^www./,'') %></h3>
						<% end %>

					</div><!--/.small-8-->
				</div><!--/.row-->					
<hr>			
				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_business_registration, label: ' Business Registration'  %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">

							<div class="row">
								<div class="small-12 columns">
										Company Name: 
										<h3><%= @user.distributor.company_name %></h3>
										 Contact Information:
										 <h3>
										  <%= @user.distributor.contact_info.contact_name %>,<br> <%= @user.distributor.contact_info.contact_title %><br>
										  <%= @user.distributor.contact_info.address1 %><br>
										  <%= @user.distributor.contact_info.address2 %><br>
										  <% unless @user.distributor.contact_info.city.blank? && @user.distributor.contact_info.state.blank? && @user.distributor.contact_info.postcode.blank? %>
										  <%= @user.distributor.contact_info.city %> <%= @user.distributor.contact_info.state %> <%= @user.distributor.contact_info.postcode %><br>
										  <% end %>
										  <%= @user.distributor.contact_info.country %><br>
										  <%= @user.distributor.contact_info.phone %><br>
										  <a href="mailto:<%= @user.distributor.contact_info.email %>"><%= @user.distributor.contact_info.email %></a>
										</h3>
								</div>
							</div>

					</div><!--/.small-8-->
				</div><!--/.row-->			
<hr>		
				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_client_brand, label: ' Client Brand'  %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">
						<h3>Current Brands</h3>
						<% @user.distributor.distributor_brands.where(current: true).each do |b| %>
							<%= b.brand %><br>
							<small><%= b.website %></small>
						<% end %>
						<br>
						<h3>Past Brands</h3>
						<% @user.distributor.distributor_brands.where(current: false).each do |b| %>
							<%= b.brand %> ( <small><%= link_to b.website, "//#{b.website}", target: 'blank' %></small> )
						<% end %>						
					</div><!--/.small-8-->
				</div><!--/.row-->							
<hr>
				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_business_certificate, label: ' Business Certificate'  %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">
						<% if @user.distributor.verification_business_certificate.exists? %>
							<%= image_tag 'document.png', style: 'height:100px;' %><br>
							<small><%= @user.distributor.verification_business_certificate_file_name %></small><br>
							<%= link_to "View", @user.distributor.verification_business_certificate.url, :target => "_blank" %>
						<% end %>					
					</div><!--/.small-8-->
				</div><!--/.row-->		

<hr>
				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_location, label: ' Location'  %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">
								Location Photo <br>
								<%= image_tag @user.distributor.verification_location_photo.url(:medium), alt: "Location Photo"%>
								<%= @user.distributor.verification_location_photo.exists? ? (link_to "View Larger", @user.distributor.verification_location_photo.url(:large), :target => "_blank") : "" %>					
					</div><!--/.small-8-->
				</div><!--/.row-->		

<hr>
				<div class="row">
					<div class="small-4 columns">
						<%= f.check_box :verified_brand_display, label: ' Brand Display' %>		
					</div><!--/.small-4-->
					<div class="small-8 columns">
						Brand Display Photo <br>
						<%= image_tag @user.distributor.verification_brand_display_photo.url(:medium), alt: "Brand Display Photo"%>
						<%= @user.distributor.verification_brand_display_photo.exists? ? (link_to "View Larger", @user.distributor.verification_brand_display_photo.url(:large), :target => "_blank") : "" %>					
					</div><!--/.small-8-->
				</div><!--/.row-->		

				<%= f.submit %>

				<% end %>
				</div>
			</div>

		</div>
	<% end %>
	</div><!--/.medium-6-->	
</div><!--/.row-->

<br>
<br>
