<% content_for :title do %>
  Users List
<% end %>



<div class="row">
	<div class="small-10 small-centered columns">
		<h2>All<br><strong>Users</strong></h2>
		<div class="AdminSectionSpacer"></div>

		<% if flash[:notice] %>

				<div data-alert class="alert-box success round">
			  	<%= flash[:notice] %>
				  <a href="#" class="close">&times;</a>
				</div>
		<% end %>

		<%= render partial: @users, spacer_template: "shared/indexspacer" %>

	</div>
</div>


<% content_for :admin_footer do %>

<!-- BEGIN SECTION SPACER -->
<div class="RASectionSpacer">

</div>
<!-- END SECTION SPACER -->
<div id="adminfooter">
  <div class="wrap">
    <div class="row">

			<div class="small-9 columns">

				<div class="small-4 columns leftadminmenu">
					<div class="small-12 columns text-center leftadminhead">
						<strong>Audits</strong>
					</div>
					<div class="small-6 columns text-right">
						<%= link_to audits_url do %>
							All<br><strong>Audits</strong>
						<% end %>
					</div>
					<div class="small-6 columns text-left">
						<%= link_to new_audit_url do %>
							Create<br><strong>Audit</strong>
						<% end %>
					</div>
				</div>
				
				<div class="small-1 column">&nbsp;</div>
				
				<div class="small-3 columns leftadminmenu">
					<div class="small-12 columns text-center leftadminhead activehead">
						<strong>Users</strong>
					</div>
					<div class="small-6 columns text-right admin-nav-active">
						
							All<br><strong>Users</strong>
						
					</div>
					<div class="small-6 columns text-left">
						<%= link_to new_user_url do %>
							Create<br><strong>User</strong>
						<% end %>
					</div>
				</div>
				
				<div class="small-1 column">&nbsp;</div>

				<div class="small-3 columns leftadminmenu end">

						<div class="small-12 columns text-center leftadminhead">
							<strong>Shared Media Library</strong>
						</div>
						
						<div class="small-12 columns text-center end">
							<%= link_to shared_media_library_url do %>
								View<br><strong>Library</strong>
							<% end %>
						</div>
						
				</div>

			</div>

      <div class="small-3 columns text-right rightadminmenu">
        Los Angeles Controller <strong>Audits</strong><br>
        Welcome, <strong><%= @current_user.email %></strong><br>
        <%= link_to 'Logout', logout_url %>
      </div>

    </div>
  </div>
</div>

<% end %>