
<% content_for :javascript_head do %>
	<%= javascript_tag do %>
		var bgColor = "#D1E0ff";
	<% end %>
<% end %>

<div class="row">
	<div class="medium-5 columns">
		
			<h2><strong>Register</strong></h2>
			<div class="row">
				<div class="small-12 columns text-right">
					<% if flash[:notice] %>
						<div data-alert class="alert-box alert">
							<%= flash[:notice] %>
						  <a href="#" class="close">&times;</a>
						</div>
					<% end %>

					<p>
					<%= form_for @newuser, url: users_path do |f| %>
					<%= radio_button_tag(:user_type, "brand", selected: true) %>
					<%= label_tag(:user_type_brand, "I am a Brand") %>
					<%= radio_button_tag(:user_type, "distributor") %>
					<%= label_tag(:user_type_distributor, "I am a Distributor") %>
					</p>

					<%= f.fields_for :user_profile do |ff| %>
						<%= ff.text_field :firstname, :placeholder => 'First Name', :label => false  %>
						<%= ff.text_field :lastname, :placeholder => 'Last Name', :label => false  %>
					<% end %>
					<br>
					<%= f.text_field :email, :placeholder => 'Email (will be used as your login)', :label => false %>
					<br>
					<%= f.password_field :password, :placeholder => 'Password', :label => false %>
					<%= f.password_field :password_confirmation, :placeholder => 'Password (repeat)', :label => false %>
					<%= link_to 'Cancel', root_path, class: "tiny radius info button"  %> <%= f.submit 'Next', class: "tiny radius success button" %>
					<% end %>
				</div>
			</div>
		
	</div>
</div>


<% content_for :admin_footer do %>
 


<% end %>