
<% iscurrent ||= nil %>

<div class="groupwrapper">

	<% if !headertitle.blank? %>
	<div class="row">
		<div class="medium-12 columns">
			<h3><%= headertitle %></h3>
			<hr>
		</div>
	</div>
	<% end %>

	<%= render(partial: "shared/coll_item", collection: coll, as: :cb, locals: {identifier: identifier}) || "<h5>( #{no_item_message} )</h5>".html_safe %>
	
	<div class="rowitem">
		<div class="row">
			<div class="medium-12 columns">
								<hr>
<%= coll_new_item.class %>
				<% if iscurrent.nil? %>
					<%= render partial: "shared/new_coll_item_form", locals: {newitem: coll_new_item, titletext: coll_new_item_text} %>
				<% else %>
					<%= render partial: "shared/new_coll_item_form", locals: {newitem: coll_new_item, titletext: coll_new_item_text, iscurrent: iscurrent} %>
				<% end %>

			</div>
		</div>
	</div>

</div> <!-- /.groupwrapper -->
