
<% iscurrent ||= nil %>

<div class="groupwrapper">

	<% if iscurrent.nil? %> 
		<div id="collection-<%= coll_new_item.class.to_s.downcase %>">
	<% else %> <%# differentiate between old/new product %>
		<div id="collection-<%= coll_new_item.class.to_s.downcase %>-<%= iscurrent %>">
	<% end %>

	<% ob = (controller_name == "onboard_distributor") || (controller_name == "onboard_brand") ? true : false %>
	<%= render(partial: "shared/coll_item", collection: coll, as: :cb, locals: {identifier: identifier, ob: ob}) || "<div class='row'><div class='small-12 columns'><h5>( #{no_item_message} )</h5></div></div>".html_safe %>

	</div>

	
		<div class="row collapse">
			<div class="medium-12 columns">
				<% if iscurrent.nil? %>
					<%= render partial: "shared/new_coll_item_form", locals: {newitem: coll_new_item, titletext: coll_new_item_text} %>
				<% else %>
					<%= render partial: "shared/new_coll_item_form", locals: {newitem: coll_new_item, titletext: coll_new_item_text, iscurrent: iscurrent} %>
				<% end %>

			</div>
		</div>
	
</div> <!-- /.groupwrapper -->
