<div class="row">
	<div class="small-12 columns text-right">
		<div class="onboard-nav">
			<ul>
			<%= link_to onboard_distributor_one_url do %>
				<%= content_tag(:li, "Company Info", class: (action_name == 'one') ? "active" : '') %>
			<% end %>
			<%= link_to onboard_distributor_two_url do %>
				<%= content_tag(:li, "Countries of Distribution", class: (action_name == 'two') ? "active" : '') %>
			<% end %>
			<%= link_to onboard_distributor_three_url do %>
				<%= content_tag(:li, "Sectors / Channels", class: (action_name == 'three') ? "active" : '') %>
			<% end %>
			<%= link_to onboard_distributor_four_url do %>	
				<%= content_tag(:li, "Channel Capacities", class: (action_name == 'four') ? "active" : '') %>
			<% end %>
			<%= link_to onboard_distributor_five_url do %>
				<%= content_tag(:li, "Brand Portfolio", class: (action_name == 'five') ? "active" : '') %>
			<% end %>
			<%= link_to onboard_distributor_six_url do %>
				<%= content_tag(:li, "Marketing / Sales", class: (action_name == 'six') ? "active" : '') %>
			<% end %>
			<%#= content_tag(:li, "done!", class: 'navdone') %>
			</ul>
		</div>
	</div>
</div>
