<div class="row">
	<div class="small-12 medium-8 medium-push-4 columns">
		<div class="onboard-nav">
			<ul>
			<div class="small-4 columns">
				&nbsp;
			</div>	
			<div class="small-1 columns">
			<%= link_to onboard_distributor_one_url do %>
				<%= content_tag(:li, "1", class: (action_name == 'one') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_two_url do %>
				<%= content_tag(:li, "2", class: (action_name == 'two') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_three_url do %>
				<%= content_tag(:li, "3", class: (action_name == 'three') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_four_url do %>	
				<%= content_tag(:li, "4", class: (action_name == 'four') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_five_url do %>
				<%= content_tag(:li, "5", class: (action_name == 'five') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_six_url do %>	
				<%= content_tag(:li, "6", class: (action_name == 'six') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_seven_url do %>
				<%= content_tag(:li, "7", class: (action_name == 'seven') ? "active" : '') %>
			<% end %>
			</div>
			<div class="small-1 columns">
			<%= link_to onboard_distributor_eight_url do %>
				<%= content_tag(:li, "8", class: (action_name == 'eight') ? "active" : '') %>
			<% end %>
			</div>
			</ul>
		</div>
	</div>
</div>
