<% content_for :user_head do %>

<div class="contain-to-grid fixed">

	<nav class="top-bar" data-topbar role="navigation">

	  <ul class="title-area">
	    <li class="name">

				<h1>
				<%= link_to root_url do %>
				<%= render "shared/imageswap/landing_logo" %>
				<% end %>
				</h1>      
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

	  </ul>
		


		<section class="top-bar-section">

		  <ul class="right">
	    <% if @current_user && show_top_menu %>
		    
			<li class="divider"></li>
			<!-- Marketplace Nav Section -->
			<li>
				<a href="<%= all_matches_url %>"> 					
				<%= render "shared/imageswap/marketplace_logo" %>		
				<% if controller_name == "matches" || controller_name == "messages" || controller_name == "library_documents" || controller_name == "distributors" || controller_name == "brands" %>
				Marketplace
				<% end %>

	    	<% if @messages_unread > 0 || @new_contact_messages > 0 %>
				<span id="unread-message-badge"> ! </span> 
	    	<% end %>					
				</a>
			</li>

			<!-- Insights Nav Section -->
			<li>
				<a href="#">
				<%= render "shared/imageswap/insights_logo" %>
				</a>
			</li>

			<!-- Agency Nav Section -->
			<li>
				<a href="#">
				<%= render "shared/imageswap/agency_logo" %>
				</a>
			</li>

			<li class="divider"></li>
			<li <%= action_name == "dashboard" ? 'class="active"'.html_safe : ''%>>
				<%= link_to 'DASHBOARD', dashboard_url, id: "menu-dashboard" %> 
			</li>
			<li class="divider"></li>

		  <!-- User Nav Section -->
	    <li class="has-dropdown">
	    	
	      <a href="#">
	      	<span class="show-for-large-up">
	      	<% if @current_user.distributor %>
						(D) <%= @current_user.distributor.company_name.blank? ? "Welcome" : @current_user.distributor.company_name %>
					<% else %>
						(B) <%= @current_user.brand.company_name.blank? ? "Welcome" : @current_user.brand.company_name %>
					<% end %>
					</span>
					<span class="hide-for-large-up">
					Welcome
			    </span>	
	      </a>

	      <ul class="dropdown">       	
					<li>
						<%= link_to 'Your Account', "#" %>
					</li>	          			

	        <li><%= link_to 'Logout', logout_url %></li>
	      </ul>
	    </li>
	    <% end %>


			<% if !@current_user && controller_name != 'session' %>
			<%= render partial: "shared/login_widget" %>
			<% end %>

		  </ul>




		</section>

	</nav>

</div>
	
<% end %>
