<% content_for :user_head do %>

<div class="contain-to-grid fixed">

	<nav class="top-bar" data-topbar role="navigation">

	  <ul class="title-area">
	    <li class="name">

				<h1>
				<%= link_to root_url do %>
				<img src="/images/LandingLogo.svg" height="50" width="125" alt="Landing International" />
				<% end %>
				</h1>      
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
		
		

		<section class="top-bar-section">
		  <!-- Right Nav Section -->
		  <ul class="right">
		    <% if @current_user && show_top_menu %>
		    <li class="has-dropdown">
		      <a href="#">
			    	<% if @messages_unread > 0 || @new_contact_messages > 0 %>
							<span class="secondary radius label" id="unread-message-count-badge"> ! </span>
			    	<% end %>    	
		      	<% if @current_user.distributor %>
							(D) <%= @current_user.distributor.company_name.blank? ? "Welcome" : @current_user.distributor.company_name %>
						<% else %>
							(B) <%= @current_user.brand.company_name.blank? ? "Welcome" : @current_user.brand.company_name %>
						<% end %>
		      </a>
		      <ul class="dropdown">       	
		        <li>
								<%= action_name == "front" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "admin" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "home" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "brands" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "distributors" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "onboard_brand" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "onboard_distributor" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "library_documents" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "matches" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "messages" ? (link_to 'Dashboard', dashboard_url) : "" %> 
		        </li>
						<li>
							<%= link_to 'Market Insight', "#" %>
						</li>	          
						<li>
							<% matchtype = @current_user.type? == "distributor" ? "Brand" : "Distributor" %>
							<%= link_to "Your #{matchtype} Matches", all_matches_url %>
						</li>				
						<li>
							<%= link_to messages_url do %>
								Message Center 
								<div class="text-right">
									<% if @messages_unread > 0 %>
										<span class="alert radius label" id="top-bar-messages-unread"><span id="top-bar-messages-unread-number"><%= @messages_unread %></span> new message<%= @messages_unread > 1 ? "s" : "" %> <br></span>
									<% end %>
									<% if @new_contact_messages > 0 %>
										<span class="alert radius label" id="top-bar-new-contact-messages"><span id="top-bar-new-contact-messages-number"><%= @new_contact_messages %></span> new request<%= @new_contact_messages > 1 ? "s" : "" %></span>
									<% end %>
								</div>
							<% end %>
						</li>
						<li>
							<%= link_to 'Your Document Library', library_documents_url %>
						</li>
		        <% if @current_user.distributor %>
		        <li>
		        	<%= link_to 'Your Profile', distributor_full_profile_url %>
		        </li>
		        <% end %>
		        <% if @current_user.brand %>
		        <li>
		        	<%= link_to 'Your Profile', brand_full_profile_url %>
		        </li>
		        <% end %>
		        <li><%= link_to 'Logout', logout_url %></li>
		      </ul>
		    </li>
		    <% end %>
				<% if !@current_user && controller_name != 'session' %>
				<%= render partial: "shared/login_widget" %>
				<% end %>	      
		  </ul>

		</section>

	</nav>

</div>
	
<% end %>
