<% content_for :user_head do %>

<div class="contain-to-grid fixed">

	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">

				<h1>
				<img src="/images/LandingLogo.svg" height="50" width="125" alt="Landing International" />
				<img src="/images/MarketplaceLogo.svg" height="40" width="40" alt="Marketplace" />
				<small style="color: white"><strong>Marketplace</strong>
				<% if controller_name == "admin" || controller_name == "users" %>
					for Administrators
				<% elsif @current_user %>
					<%= @current_user.distributor ? "for Distributors" : "for Brands" %>
				<% end %>
				</small>
				</h1>      
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <% if @current_user && show_top_menu %>
	      <li class="has-dropdown">
	        <a href="#">
	      	<% if @messages_unread > 0 || @new_contact_messages > 0 %>
						<span class="secondary radius label unread-message-count-badge"> ! </span>
	      	<% end %>	        	
	        	<% if @current_user.distributor %>
							<%= @current_user.distributor.company_name.blank? ? "Welcome" : @current_user.distributor.company_name %>
						<% else %>
							<%= @current_user.brand.company_name.blank? ? "Welcome" : @current_user.brand.company_name %>
						<% end %>
	        </a>
	        <ul class="dropdown">       	
	          <li>
								<%= action_name == "front" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "admin" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "home" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "brands" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "distributors" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "onboard_brand" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "onboard_distributor" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "library_documents" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "matches" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "messages" ? (link_to 'Dashboard', dashboard_url) : "" %> 
	          </li>
						<li>
							<%= link_to 'Market Insight', "#" %>
						</li>	          
						<li class="active">
							<% matchtype = @current_user.type? == "distributor" ? "Brand" : "Distributor" %>
							<%= link_to "Your #{matchtype} Matches", all_matches_url %>
						</li>				
						<li>
							<%= link_to messages_url do %>
								Your Messages 
								<div class="text-right">
									<% if @messages_unread > 0 %>
										<span class="alert radius label"><%= @messages_unread %> new message<%= @messages_unread > 1 ? "s" : "" %> </span><br>
									<% end %>
									<% if @new_contact_messages > 0 %>
										<span class="alert radius label"><%= @new_contact_messages %> new request<%= @new_contact_messages > 1 ? "s" : "" %></span>
									<% end %>
								</div>
							<% end %>
						</li>
						<li>
							<%= link_to 'Your Document Library', library_documents_url %>
						</li>
	          <% if @current_user.distributor %>
	          <li>
	          	<%= link_to 'Your Profile', distributor_full_profile_url %>
	          </li>
	          <% end %>
	          <% if @current_user.brand %>
	          <li>
	          	<%= link_to 'Your Profile', brand_full_profile_url %>
	          </li>
	          <% end %>
	          <li><%= link_to 'Logout', logout_url %></li>
	        </ul>
	      </li>
	      <% end %>
				<% if !@current_user %>
				<%= render partial: "shared/login_widget" %>
				<% end %>	      
	    </ul>
	  </section>
	</nav>

</div>
	
<% end %>
