<% content_for :user_head do %>

<div class="contain-to-grid fixed">

	<nav class="top-bar" data-topbar role="navigation">

	  <ul class="title-area">
	    <li class="name">

				<h1>
				<img src="/images/LandingLogo.svg" height="50" width="125" alt="Landing International" />
				<img src="/images/MarketplaceLogo.svg" height="40" width="40" alt="Marketplace" />
				<small style="color: white"><strong>Marketplace</strong>

					for Administrators

				</small>
				</h1>      
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>
		
		

<section class="top-bar-section">
  <!-- Right Nav Section -->
  <ul class="right">
    <% if @current_user && show_top_menu %>
    <li class="has-dropdown">
      <a href="#">
	    	<% if @messages_unread > 0 || @new_contact_messages > 0 %>
					<span class="secondary radius label" id="unread-message-count-badge"> ! </span>
	    	<% end %>    	
      	<% if @current_user.distributor %>
					<%= @current_user.distributor.company_name.blank? ? "Welcome" : @current_user.distributor.company_name %>
				<% else %>
					<%= @current_user.brand.company_name.blank? ? "Welcome" : @current_user.brand.company_name %>
				<% end %>
      </a>
      <ul class="dropdown">       	
        <li>
					<%= link_to 'Admin', admin_url %>
        </li>
				<li>
					<%= link_to 'Users', users_url %>
				</li>
				<li>
					<%= link_to 'Upload', new_bulk_upload_url %>
				</li>	          

        <li><%= link_to 'Logout', logout_url %></li>
      </ul>
    </li>
    <% end %>
		<% if !@current_user %>
		<%= render partial: "shared/login_widget" %>
		<% end %>	      
  </ul>
</section>

	</nav>

</div>
	
<% end %>
