<% content_for :user_head do %>

<div class="contain-to-grid fixed">

	<nav class="top-bar" data-topbar role="navigation">
	  <ul class="title-area">
	    <li class="name">
				<h1 class="tk-aw-conqueror-inline">&nbsp;Landing
				<% if controller_name == "admin" %>
					<small>for Administrators</small>
				<% elsif @current_user %>
					<small><%= @current_user.distributor ? "for Distributors" : "for Brands" %></small>
				<% end %>
				<% if ( ["distributors","brands"].include? controller_name ) %>
					<small style="color: #aaa;"> // Your Profile</small>
				<% end %>
				<% if ( action_name == "dashboard" ) %>
					<small style="color: #aaa;"> // Your Dashboard</small>
				<% end %>				
				</h1>      
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	  </ul>

	  <section class="top-bar-section">
	
	    <!-- Right Nav Section -->
	    <ul class="right">
	      <% if @current_user && show_top_menu %>
	      <li class="has-dropdown">
	        <a href="#">
	        	<% if @current_user.distributor %>
							<%= @current_user.distributor.company_name.blank? ? "Welcome" : @current_user.distributor.company_name %>
						<% else %>
							<%= @current_user.brand.company_name.blank? ? "Welcome" : @current_user.brand.company_name %>
						<% end %>
	        </a>
	        <ul class="dropdown">       	
	          <li class="active">
								<%= action_name == "front" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "admin" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "home" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "brands" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "distributors" ? (link_to 'Dashboard', dashboard_url) : "" %>
								<%= controller_name == "onboard_brand" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%= controller_name == "onboard_distributor" ? (link_to 'Dashboard', dashboard_url) : "" %> 
								<%#= action_name =~ /dashboard*/ ? "" : "//" %>
	          </li>
						<li>
							<%= link_to 'Market Insight', "#" %>
						</li>	          
						<li>
							<%= link_to 'Your Matches', "#" %>
						</li>
						<li>
							<%= link_to 'Your Messages', "#" %>
						</li>						
	          <% if @current_user.distributor %>
	          <li>
	          	<%= link_to 'Your Profile', distributor_full_profile_url %>
	          </li>
	          <% end %>
	          <% if @current_user.brand %>
	          <li>
	          	<%= link_to 'Your Profile', brand_full_profile_url %>
	          </li>
	          <% end %>
	          <li><%= link_to 'Logout', logout_url %></li>
	        </ul>
	      </li>
	      <% end %>
				<% if !@current_user %>
				<%= render partial: "shared/login_widget" %>
				<% end %>	      
	    </ul>
	  </section>
	</nav>

</div>
	
<% end %>
