<% content_for :user_head do %>

<div class="contain-to-grid fixed">

	<nav class="top-bar" data-topbar role="navigation">

	  <ul class="title-area">
	    <li class="name">

				<h1>
				<%= link_to root_url do %>
				<%= render "shared/imageswap/landing_logo" %>
				<% end %>
				</h1>      
	    </li>
	     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
	    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

	  </ul>
		


		<section class="top-bar-section">

		  <ul class="right">
	    <% if @current_user && show_top_menu %>
		    
			<li class="divider"></li>
			<!-- MARKETS Nav Section -->
			<li class="has-dropdown">
				<a href="<%= all_matches_url %>"> 					
				MARKETS
				<% if controller_name == "matches" || controller_name == "messages" || controller_name == "library_documents" || controller_name == "distributors" || controller_name == "brands" %>
				<!-- CONTROLS HERE FOR ADJUSTING DISPLAY OF BAR BUTTON -->
				<% end %>
				</a>

	      <ul class="dropdown">
	        <li>
	        	<label>MARKETPLACE</label>
	        </li>	      	
					<li>
						<%= link_to "FIND #{@current_user.type_inverse?.upcase}S", all_matches_path, class: 'text-right' %>
					</li>
					<% if @current_user.type? == "distributor" %>
	        <li>
	        	<%= link_to "BROWSE GALLERY", gallery_path, class: 'text-right' %>
	        </li>
	        <% end %>
	        <li>
	        	<%= link_to "SAVED #{@current_user.type_inverse?.upcase}S", saved_matches_path, class: 'text-right' %>
	        </li>
	        <li>
	        	<%= link_to "CONTACTED #{@current_user.type_inverse?.upcase}S", conversations_path, class: 'text-right' %>
	        </li>       
	        <li>
	        	<label>AGENCY</label>
	        </li>
	        <li>
	        	<%= link_to "PROJECTS BY COUNTRY", "#", class: 'text-right' %>
	        </li>
	        <li>
	        	<label>INSIGHTS</label>
	        </li>
	        <li>
	        	<%= link_to 'REPORTS BY COUNTRY', "#", class: 'text-right' %>
	        </li>
	      </ul>

			</li>

			<!-- MESSAGES Nav Section -->
			<li>
				<a href="#">
				<%#= render "shared/imageswap/agency_insights" %>
				<%= link_to messages_path do %>
				MESSAGES
	    	<% if @messages_unread > 0 || @new_contact_messages > 0 %>
				<span id="unread-message-badge"> ! </span> 
	    	<% end %>
	    	<% end %>
				</a>
			</li>


			<li class="divider"></li>

		  <!-- User Nav Section -->
	    <li class="has-dropdown">
	    	
	      <a href="#">
	      	<span class="show-for-large-up">
	      	<% if @current_user.distributor %>
						(D) <%= @current_user.distributor.company_name.blank? ? "Welcome" : @current_user.distributor.company_name %>
					<% else %>
						(B) <%= @current_user.brand.company_name.blank? ? "Welcome" : @current_user.brand.company_name %>
					<% end %>
					</span>
					<span class="hide-for-large-up">
					Welcome
			    </span>	
	      </a>

	      <ul class="dropdown">
	      	<li>
			      <%= link_to 'DASHBOARD', dashboard_url, id: "menu-dashboard", class: 'text-right' %>
		      </li>
					<li>
						<%= link_to 'PLANS', "#", class: 'text-right' %>
					</li>
					<li class="divider"></li>
	        <li>
	        	<label>MARKETPLACE</label>
	        </li>
	        <li>
	        	<%= link_to 'PREVIEW PROFILE', eval("#{@current_user.type?}_full_profile_path"), class: 'text-right' %>
	        </li>
	        <li>
	        	<%= link_to 'EDIT PROFILE', eval("#{@current_user.type?}_path"), class: 'text-right' %>
	        </li>
	        <li>
	        	<label>AGENCY</label>
	        </li>
	        <li>
	        	<%= link_to 'EDIT GLOBAL TERMS', "#", class: 'text-right' %>
	        </li>
	        <li>
	        	<label>INSIGHTS</label>
	        </li>
	        <li>
	        	<%= link_to 'PURCHASED REPORTS', "#", class: 'text-right' %>
	        </li>
	        <li class="divider"></li>
	        <li><%= link_to 'SETTINGS', '#', class: 'text-right' %></li>
	        <li><%= link_to 'LOGOUT', logout_url, class: 'text-right' %></li>
	      </ul>
	    </li>
	    <% end %>


			<% if !@current_user && controller_name != 'session' %>
			<%= render partial: "shared/login_widget" %>
			<% end %>

		  </ul>




		</section>

	</nav>

</div>
	
<% end %>
