<% credits ||= nil %>
<div class="insights-panel">
	<div class="row">
		<div class="medium-9 columns">
			<div class="insights-panel-image">
			<img src="images/<%= image %>">
			<div class="insights-panel-image-label"><%= country %></div>
			</div>
		</div>
		<% if credits %>
		<div class="medium-3 columns text-left">
			<small><%= credits.html_safe %></small>
		</div>
		<% end %>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="insights-panel-text"><%= text %> ... <strong> more </strong></div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= link_to 'BUY FULL REPORT', '#', class: 'button tiny success radius' %>
		</div>
	</div>
</div>