<% if @current_user.distributor %>

	<div class="row">
		<div class="small-12 columns">


			<%= render "message_center" %>

			<div class="panel">
				<h2>Profile Center</h2>
				<hr>
				<% percentp = check_distributor_public_profile %>
				Your <strong><%= link_to 'Public Profile', distributor_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>[some info on your public profile]</small>
			
				<hr>

				<% percentf = check_distributor_full_profile %>
				Your <strong><%= link_to 'Full Profile', distributor_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>[some info on your full profile]</small>
			</div>

			<div class="panel">
				<h2>Rating</h2>
				<hr>
				<small>You have <strong>3</strong> points of 6 total.</small>
			</div>



		</div>
	</div>
<% end %>

<% if @current_user.brand %>

	<div class="row">
		<div class="small-12 columns">


			<%= render "message_center" %>



			<div class="panel">
				<h4><strong>Profile Center</strong></h4>
				<hr>
				<% percentp = check_brand_public_profile %>
				Your <strong><%= link_to 'Public Profile', brand_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>[some info on your public profile]</small>
				<hr>

				<% percentf = check_brand_full_profile %>
				Your <strong><%= link_to 'Full Profile', brand_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>[some info on your full profile]</small>
			</div>

			<div class="panel">
				<h4><strong>Rating</strong></h4>
				<hr>
				<small>You have <strong>3</strong> points of 6 total.</small>
				<h3>[Blah blah here about how to improve your rating]</h3>
			</div>
	
		</div>
	</div>


<% end %>