<div id="dashboard-marketplace-header">
	<h1><%= render "shared/imageswap/marketplace_logo" %> Marketplace</h1>
</div>

<div id="dashboard-marketplace-content">
<% if @current_user.distributor %>

	<div class="row">
		<div class="small-12 columns">

		<h2 class="dashboard-section-title">Find Brands</h2>
		<div id="match-map-container" style="border: 1px solid gray;">
			<div class="row show-for-small-only">
				<div class="small-12 columns">
					<h2>Browse Brands:</h2>		
				</div><!--/.small-12-->
			</div>

			<div id="match-search">
				<%= render partial: "matches/distributor_search_start" %>
			</div>

		</div><!--/.match-map-container -->
		<div class="row">
			<div class="medium-6 columns">
				<%= render "message_center" %>	
			</div><!--/.medium-6-->
			<div class="medium-6 columns">
				
			<h2 class="dashboard-section-title">Profile Center</h2>
			<div class="panel">
				<% percentp = check_distributor_public_profile %>
				Your <strong><%= link_to 'Public Profile', distributor_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> complete!<br><br>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>Your public profile is viewable by all registered brands. It displays limited publicly available information including countries of distribution, year established, product sector and retail channels.</small>

				<hr>

				<% percentf = check_distributor_full_profile %>
				Your <strong><%= link_to 'Full Profile', distributor_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> complete!<br><br>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>Your full profile is viewable only by premium brand subscribers. It contains information that helps brands determine whether your company is a good fit for their international expansion.</small>
				
				<hr>

				<h3>Your <strong><%= link_to 'RATING', brand_full_profile_url %></strong> is <strong>3</strong> out of <strong>5</strong> [stars].</h3>
				
				<p>[image of rating here... discs?]</p>
				<small>Your ratings help identify you as a credible business partner. Your ratings are based on the completeness of your profile and verification of your company’s website, social media presence, business license and other factors. </small>
			</div>


			</div><!--/.medium-6-->
		</div><!--/.row-->

			



		</div>
	</div>


<% elsif @current_user.brand %>

	<div class="row">
		<div class="small-12 columns">

		<h3 class="dashboard-section-title">FIND DISTRIBUTORS IN NEW MARKETS</h3>
		<div id="match-map-container">
			<div class="row show-for-small-only">
				<div class="small-12 columns">
					<h2>Find a Distributor for:</h2>		
				</div><!--/.small-12-->
			</div>
		
			<div id="match-search">
				<%= render partial: "matches/brand_search_start" %>
			</div>

		</div><!--/.match-map-container -->


		</div>
	</div>


<% end %>
</div>

<div id="dashboard-marketplace-header">
	<h3>Messages</h3>
</div>
<div id="dashboard-marketplace-content">
	<%= render "message_center" %>
</div>


<div id="dashboard-marketplace-header">
	<h3>Profile</h3>
</div>
<div id="dashboard-marketplace-content">

			<div class="dashboard-profile-panel">
				<% percentp = check_brand_public_profile %>
				<h3>Your <strong><%= link_to 'Public Profile', brand_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> complete!</h3>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>Your public profile is viewable by all registered distributors. It displays limited publicly available information, including your country of origin, year established, product sector and retail channels.</small>

				<hr>

				<% percentf = check_brand_full_profile %>
				<h3>Your <strong><%= link_to 'Full Profile', brand_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> complete!</h3>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>Your full profile is viewable only by premium distributor subscribers. It contains information that helps distributors determine whether your brand would be a good fit for their market and their portfolio. </small>

			</div>

</div>
