<div class="row">
	<div class="small-12 columns text-right">
		<h1>Marketplace <%= render "shared/imageswap/marketplace_logo" %></h1>
	</div>
</div>

<% if @current_user.distributor %>

	<div class="row">
		<div class="small-12 columns">

		<h2 class="dashboard-section-title">Find Brands</h2>
		<div id="match-map-container" style="border: 1px solid gray;">
			<div class="row show-for-small-only">
				<div class="small-12 columns">
					<h2>Browse Brands:</h2>		
				</div><!--/.small-12-->
			</div>

			<div id="match-search">
				<%= render partial: "matches/distributor_search_start" %>
			</div>

		</div><!--/.match-map-container -->
		<div class="row">
			<div class="medium-6 columns">
				<%= render "message_center" %>	
			</div><!--/.medium-6-->
			<div class="medium-6 columns">
				
			<h2 class="dashboard-section-title">Profile Center</h2>
			<div class="panel">
				<% percentp = check_distributor_public_profile %>
				Your <strong><%= link_to 'Public Profile', distributor_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>[some info on your public profile]</small>
			
				<hr>

				<% percentf = check_distributor_full_profile %>
				Your <strong><%= link_to 'Full Profile', distributor_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>[some info on your full profile]</small>


				<hr>

				<h3>Your <strong><%= link_to 'RATING', brand_full_profile_url %></strong> is <strong>3</strong> out of <strong>5</strong> [stars].</h3>
				
				<p>[image of rating here... are we using stars? discs? something else?]</p>
				<small>[Blah blah here about how to improve your rating... and RATING above links to section of profile that incorporates]</small>

			</div>


			</div><!--/.medium-6-->
		</div><!--/.row-->

			



		</div>
	</div>


<% elsif @current_user.brand %>

	<div class="row">
		<div class="small-12 columns">

		<h2 class="dashboard-section-title">Find Distributors</h2>
		<div id="match-map-container">
			<div class="row show-for-small-only">
				<div class="small-12 columns">
					<h2>Find a Distributor for:</h2>		
				</div><!--/.small-12-->
			</div>
		
			<div id="match-search">
				<%= render partial: "matches/brand_search_start" %>
			</div>

		</div><!--/.match-map-container -->

		<div class="row">
			<div class="medium-6 columns">
				<%= render "message_center" %>	
			</div><!--/.medium-6-->
			<div class="medium-6 columns">
				
			<h2 class="dashboard-section-title">Profile Center</h2>
			<div class="panel">
				<% percentp = check_brand_public_profile %>
				<h3>Your <strong><%= link_to 'Public Profile', brand_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> Complete!</h3>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>[some info on your public profile]</small>

				<hr>

				<% percentf = check_brand_full_profile %>
				<h3>Your <strong><%= link_to 'Full Profile', brand_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> Complete!</h3>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>[some info on your full profile]</small>

				<hr>


				<h3>Your <strong><%= link_to 'RATING', brand_full_profile_url %></strong> is <strong>3</strong> out of <strong>5</strong> [stars].</h3>
				
				<p>[image of rating here... are we using stars? discs? something else?]</p>
				<small>[Blah blah here about how to improve your rating... and RATING above links to section of profile that incorporates]</small>

			</div>
			

			</div><!--/.medium-6-->
		</div><!--/.row-->
			





		</div>
	</div>


<% end %>