<% if @current_user.distributor %>

	<div class="row">
		<div class="small-12 columns">


			<%= render "message_center" %>

			<h2 class="dashboard-section-title">Profile Center</h2>
			<div class="panel">
				<% percentp = check_distributor_public_profile %>
				Your <strong><%= link_to 'Public Profile', distributor_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>[some info on your public profile]</small>
			
				<hr>

				<% percentf = check_distributor_full_profile %>
				Your <strong><%= link_to 'Full Profile', distributor_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> Complete!<br><br>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>[some info on your full profile]</small>


				<hr>

				<h3>Your <strong><%= link_to 'RATING', brand_full_profile_url %></strong> is <strong>3</strong> out of <strong>5</strong> [stars].</h3>
				
				<p>[image of rating here... are we using stars? discs? something else?]</p>
				<small>[Blah blah here about how to improve your rating... and RATING above links to section of profile that incorporates]</small>

			</div>



			<h2 class="dashboard-section-title">Find Brands</h2>
			<div class="panel">
				<%= link_to 'Find Brands', matches_url %>
			</div>


			<h2 class="dashboard-section-title">Markets</h2>
			<div class="panel">
				<%= link_to 'Find Brands', matches_url %>
			</div>


		</div>
	</div>


<% elsif @current_user.brand %>

	<div class="row">
		<div class="small-12 columns">


			<%= render "message_center" %>


			<h2 class="dashboard-section-title">Profile Center</h2>
			<div class="panel">
				<% percentp = check_brand_public_profile %>
				<h3>Your <strong><%= link_to 'Public Profile', brand_public_profile_url %></strong> is <%= percentp == 100 ? "" : "#{percentp}%" %> Complete!</h3>
				<div class="progress small-12 <%= percentp == 100 ? "success" : "" %>">
				  <span class="meter text-center" style="width: <%= percentp %>%"><small class="text-right"></small></span>
				</div>
				<small>[some info on your public profile]</small>

				<hr>

				<% percentf = check_brand_full_profile %>
				<h3>Your <strong><%= link_to 'Full Profile', brand_full_profile_url %></strong> is <%= percentf == 100 ? "" : "#{percentf}%" %> Complete!</h3>
				<div class="progress small-12 <%= percentf == 100 ? "success" : "" %>">
				  <span class="meter" style="width: <%= percentf %>%"></span>
				</div>
				<small>[some info on your full profile]</small>

				<hr>


				<h3>Your <strong><%= link_to 'RATING', brand_full_profile_url %></strong> is <strong>3</strong> out of <strong>5</strong> [stars].</h3>
				
				<p>[image of rating here... are we using stars? discs? something else?]</p>
				<small>[Blah blah here about how to improve your rating... and RATING above links to section of profile that incorporates]</small>

			</div>
			

			<br><br>
			<div class="text-center">
			<%= link_to 'Find Distributors', matches_url, class: 'button large alert' %>
			</div>

			<h2 class="dashboard-section-title">Markets</h2>
			<div class="panel">

				<% @countries_of_distribution.sort_by{ |m| m.downcase }.each do |c| %>
				
					<%= form_tag all_matches_url, id: "#{c.downcase.gsub(/\s/, '-')}-form", method: 'post' do %>
					<input type="hidden" name="filter[country_of_distribution][<%= c %>]" value="true" />
					<input type="hidden" name="filter[all_channels]" value="true" />
					<% end %>

				<% end %>
				<ul class="small-block-grid-2">
				<% @countries_of_distribution.sort_by{ |m| m.downcase }.each do |c| %>
					<li><%= link_to c, "#", :onclick => "event.preventDefault();$('##{c.downcase.gsub(/\s/, '-')}-form').submit();".html_safe, class: "marketslink" %></li>
				<% end %>
				</ul>


			</div>

		</div>
	</div>


<% end %>