<div class="dashboard-messages-panel">

<% if @current_user.subscriber? %>

	<% if @messages_unread > 0 %>
		<div id="mc-unread-messages">	
			<small>
				<span class="alert label"><%= @messages_unread %> unread message<%= @messages_unread > 1 ? "s" : "" %></span>
			</small>
			<div id="mc-unread-messages-inner">
			<% @unread_list.each do |m| %>
				<% this_one = m.send(@current_user.type_inverse?) %>
				<% a,b  = unread_count_from_match(this_one) %>
				<%= link_to this_one.company_name, view_match_url(this_one.id, "na") %>
				<strong><small><%= b %> message<%= b > 1 ? "s" : "" %></small></strong>
				<br>
				<% unless m == @unread_list.last %>
					<hr style="border-top: 1px solid #ccc">
				<% end %>
			<% end %>
			</div>
		</div>
	<% end %>
	
	<% if @new_contact_messages > 0 %>
		<div id="mc-new-contacts">
			<small>
				<span class="success label"><%= @new_contact_messages %> <strong>incoming</strong> contact request<%= @new_contact_messages > 1 ? "s" : "" %></span> 
			</small>
		
			<div id="mc-new-contacts-inner">
			<% @incoming_requests_list.each do |m| %>
				<% this_one = m.send(@current_user.type_inverse?) %>
				<%= link_to this_one.company_name, view_match_url(this_one.id, "na") %>
				<% unless m == @incoming_requests_list.last %>
					<hr style="border-top: 1px solid #ccc">
				<% end %>
			<% end %>
			</div>
		</div>
	<% end %>

	<% if @outgoing_requests_list.count > 0 %>
		<div id="mc-new-contacts">
			<small>
				<span class="success label"><%= @outgoing_requests_list.count %> <strong>outgoing</strong> contact request<%= @outgoing_requests_list.count > 1 ? "s" : "" %></span> 
			</small>
		
			<div id="mc-new-contacts-inner">
			<% @outgoing_requests_list.each do |m| %>
				<% this_one = m.send(@current_user.type_inverse?) %>
				<%= link_to this_one.company_name, view_match_url(this_one.id, "na") %>
				<% unless m == @outgoing_requests_list.last %>
					<hr style="border-top: 1px solid #ccc">
				<% end %>
			<% end %>
			</div>
		</div>
	<% end %>

	<% unless @messages_unread > 0 || @new_contact_messages > 0 || @outgoing_requests_list.count > 0 %>
		<h4>No Messages</h4>
	<% end %>

<% else %>
	<div class="row">
		<div class="small-12 text-center columns">
			<% if  @new_contact_messages > 0  %>
				<h3>An Interested <%= @current_user.type_inverse? %> is trying to contact you. Subscribe to connect!</h3>
			<% elsif @messages_unread > 0 %>
				<h3>You have unread messages. <br>Renew your subscribe to access!</h3>
			<% else %>
				<h3>Available to Subscribers Only</h3>
			<% end %>
		</div><!--/.small-12 text-center-->
	</div><!--/.row-->
<% end %>
</div>