
<%= render partial: "shared/topbar" %>


<div class="row">


	<% if @current_user.distributor %>
	<div class="small-8 columns">
		<div class="ldpanel">

			<div class="row">
				<div class="small-7 columns">
					<span id="profile-name">
							<%= @profile.name %> 
					</span>
				</div>
				<div class="small-5 columns">
					<%= @profile.year_established.strftime("est. %Y") rescue nil %> <%= @profile.country_of_origin %> 
					<small><br>

						<%= link_to 'Edit Distributor Profile', distributor_url %>

					</small>
				</div>
			</div>


		</div>
	</div>
	<% end %>

	<% if @current_user.brand %>
	<div class="small-8 columns">
		<div class="ldpanel">

			<div class="row">
				<div class="small-7 columns">
					<span id="profile-name">
							<%= @profile.company_name %> 
					</span>
				</div>
				<div class="small-5 columns">
					<%= @profile.year_established.strftime("est. %Y") rescue nil %> <%= @profile.country_of_origin %> 
					<small><br>

						<%= link_to 'Edit Brand Profile', brand_url %>

					</small>
				</div>
			</div>


		</div>
	</div>
	<% end %>



</div>