
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>


<div class="row">

	<div class="medium-4 columns hide-for-small-only">
		<div class="row">
			<div class="small-12 columns">
				<ul class="breadcrumbs marketplace">
				  <li class="current"><img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" /> <%= link_to "MARKETPLACE", "#" %></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="medium-4 columns hide-for-small-only">
		<div class="row">
			<div class="small-12 columns">
				<ul class="breadcrumbs insights">
				  <li class="current"><img src="/images/logos_insights.svg" height="30" width="30" alt="Insights" /> <%= link_to "INSIGHTS", "#" %></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="medium-4 columns hide-for-small-only">
		<div class="inactive" id="dashboard-agency-head">
		<div class="row">
			<div class="small-12 columns">
				<ul class="breadcrumbs agency">
				  <li class="current"><img src="/images/logos_agency.svg" height="30" width="30" alt="Agency" /> <%= link_to "AGENCY", "#" %></li>
				</ul>
			</div>
		</div>
		</div>
	</div>

</div>

<div class="row" data-equalizer>

	<div class="medium-4 columns">
		<div class="row hide-for-medium-up">
			<div class="small-12 columns text-center">
				<%= image_tag "/images/marketplace.svg" %>
			</div>
		</div>
		<div id="dashboard-marketplace-content" data-equalizer-watch>
		<%= render "marketplace" %>
		</div>
	</div>

	<div class="medium-4 columns">
		<div class="row hide-for-medium-up">
			<div class="small-12 columns text-center">
				<%= image_tag "/images/insights.svg" %>
			</div>
		</div>

		<div id="dashboard-insights-content" data-equalizer-watch>
			<%= render "insights" %>
		</div>
	</div>

	<div class="medium-4 columns">

		<div class="row hide-for-medium-up">
			<div class="small-12 columns text-center">
				<%= image_tag "/images/agency.svg" %>
			</div>
		</div>

		<div id="dashboard-agency-content" class="inactive" data-equalizer-watch>		
			<%= render "agency" %>
		</div>
	</div>

</div>

<br>
<br>	

