
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

	<div class="row">


	<% if @current_user.distributor %>


		<div class="medium-12 columns previewtile">

			<div class="row">
				<div class="small-12 columns text-right">

					<small><%= link_to 'View PUBLIC Profile', dashboard_public_profile_url, class: "itemformlink profilelink"%></small>
					<small><%= link_to 'Viewing FULL Profile', "#", class: "itemformlink active profilelink"%></small>
					<small><%= link_to 'EDIT Distributor Profile', distributor_url, class: "itemformlink profilelink"%></small><br>
					<div id="profile-name"><%= @profile.company_name %></div>
					<div id="profile-year-established"><%= @profile.year_established.strftime("est. %Y") rescue nil %></div>
					<div id="profile-website"><%= link_to @profile.website, "//#{@profile.website}" %></div>

				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<dl class="tabs right" id="myTabs" data-tab>
					  <dd class="active"><a href="#panel1"><%= render partial: "shared/svg/globe" %></a></dd>
					  <dd><a href="#panel2"><%= render partial: "shared/svg/employees" %></a></dd>
					  <dd><a href="#panel3"><%= render partial: "shared/svg/sector" %></a></dd>
					  <dd><a href="#panel4"><%= render partial: "shared/svg/channel" %></a></dd>
					  <dd><a href="#panel5"><%= render partial: "shared/svg/brandportfolio" %></a></dd>
					  <dd><a href="#panel6"><%= render partial: "shared/svg/sales" %></a></dd>
					  <dd><a href="#panel7"><%= render partial: "shared/svg/marketing" %></a></dd>
					  <dd><a href="#panel8"><%= render partial: "shared/svg/tradeshow" %></a></dd>
					</dl>
				</div>
				<div class="medium-8 columns">
					<div class="tabs-content">


					  <div class="content active" id="panel1">

									  	<div class="preview-data-title">
												Country of Origin
											</div>
											<div class="preview-data">
												<h1><%= @profile.country_of_origin %></h1>
											</div>

									  	<div class="preview-data-title">
												General Contact Information
											</div>
											<div class="preview-data">
												<h4><strong><%= @profile.contact_info.contact_name %></strong>, <%= @profile.contact_info.contact_title %><br>
														<%= @profile.contact_info.email %>, <%= @profile.contact_info.phone %>
												</h4>
												<h4><%= @profile.contact_info.address1 %><br><%= @profile.contact_info.address2 %><br>
														<%= @profile.contact_info.city %> <%= @profile.contact_info.state %>, <%= @profile.contact_info.postcode %><br>
														<%= @profile.contact_info.country %>
												</h4>								
											</div>

					  </div>


					  <div class="content" id="panel2">

									  	<div class="preview-data-title">
												Company Size
											</div>
											<div class="preview-data">
												<h1><%= CompanySize.find(@profile.company_size).name %></h1>
											</div>    

					  </div>


					  <div class="content" id="panel3">


									  	<div class="preview-data-title">
												Sectors
											</div>
											<div class="preview-data">
												<% @profile.sectors.each do |s| %>
													<h3><strong><%= s.name %></strong></h3>
												<% end %>
											</div>

					  </div>


					  <div class="content" id="panel4">

	 								  	<div class="preview-data-title">
												Channels
											</div>
											<div class="preview-data">
												<% @profile.channels.each do |ch| %>
													<h3><strong><%= ch.name %></strong></h3>
												<% end %>
											</div>

											<% if @profile.channel_capacities.where(channel_id: 0).length > 0 %>
	 								  	<div class="preview-data-title">
												Custom Channels
											</div>
											<div class="preview-data">
												<% @profile.channel_capacities.where(channel_id: 0).each do |cch| %>
													<h3><strong><%= cch.custom_channel_name %></strong></h3>
												<% end %>
											</div>											
											<% end %>

					  </div>

					  <div class="content" id="panel5">

											<div class="preview-data-title">
												Current Brands
											</div>
											<div class="preview-data">

												<% if @profile.distributor_brands.where(current: true).length > 0 %>
													<% @profile.distributor_brands.where(current: true).each do |p| %>
														<%= render partial: "shared/collections_view/distributor_brands", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Current Brands]
												<% end %>

											</div>


											<div class="preview-data-title">
												Upcoming Brands
											</div>
											<div class="preview-data">

												<% if @profile.distributor_brands.where(current: false).length > 0 %>
													<% @profile.distributor_brands.where(current: false).each do |p| %>
														<%= render partial: "shared/collections_view/distributor_brands", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Upcoming Brands]
												<% end %>

											</div>

					  </div>

					  <div class="content" id="panel6">

									  	<div class="preview-data-title">
												Sales and Education
											</div>
											<div class="preview-data">
												<div class="row">
													<div class="small-7 columns text-right"><h1><small>Outside Sales Force Size:</small></h1></div> 
													<div class="small-5 columns"><h1><%= @profile.inside_sales_size %></h1></div>
												</div>
												<div class="row">
													<div class="small-7 columns text-right"><h1><small>Inside Sales Force Size:</small></h1></div>
													<div class="small-5 columns"><h1><%= @profile.outside_sales_size %></h1></div>
												</div>
											</div>    

					  </div>

					  <div class="content" id="panel7">

									  	<div class="preview-data-title">
												Internal Marketing/PR Team Size
											</div>
											<div class="preview-data">
												<div class="row">
													<div class="small-12 small-text-center columns"><h1><%= @profile.internal_marketing_size %></h1></div>
												</div>
											</div>

									  	<div class="preview-data-title">
												External Marketing/PR
											</div>
											<div class="preview-data">
												<div class="row">
													<div class="small-12 small-text-center columns"><h3><%= @profile.employ_pr_agency ? "This Distributor employs an External Marketing/PR Agency" : "This Distributor DOES NOT employ an External Marketing/PR Agency" %></h3></div>
												</div>
											</div>    

									  	<div class="preview-data-title">
												Product Marketing
											</div>
											<div class="preview-data">
												<div class="row">
													<div class="medium-10 columns small-centered">
														<div class="row">
															<div class="medium-6 columns">
																<%= render partial: "distributor_marketing_type", locals: {name: "Print" ,p: @profile.marketing_via_print}%>
																<%= render partial: "distributor_marketing_type", locals: {name: "Online" ,p: @profile.marketing_via_online}%>
																<%= render partial: "distributor_marketing_type", locals: {name: "Email" ,p: @profile.marketing_via_email}%>
																<%= render partial: "distributor_marketing_type", locals: {name: "Outdoor" ,p: @profile.marketing_via_outdoor}%>
															</div>
															<div class="medium-6 columns">
																<%= render partial: "distributor_marketing_type", locals: {name: "Events" ,p: @profile.marketing_via_events}%>
																<%= render partial: "distributor_marketing_type", locals: {name: "Direct Mail" ,p: @profile.marketing_via_direct_mail}%>
																<%= render partial: "distributor_marketing_type", locals: {name: "Classes" ,p: @profile.marketing_via_classes}%>
															</div>
														</div>
													</div>
												</div>
											</div> 

									  	<div class="preview-data-title">
												Customer Database Size
											</div>
											<div class="preview-data">
												<div class="row">
													<div class="small-12 small-text-center columns"><h1><%= @profile.customer_database_size %></h1></div>
												</div>
											</div>   

					  </div>

					  <div class="content" id="panel8">

											<div class="preview-data-title">
												Trade Shows
											</div>
											<div class="preview-data">

												<% if @profile.trade_shows.length > 0 %>
													<% @profile.trade_shows.each do |p| %>
														<%= render partial: "shared/collections_view/trade_shows", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Trade Shows]
												<% end %>

											</div>
						</div>					  


					</div><!-- /.tabs-content -->
				</div><!-- /.medium-8 .columns -->

			</div><!-- /.row -->

		</div><!-- /.medium-12 .columns .previewtile -->
	

	<% end %>

	<% if @current_user.brand %>


		<div class="medium-12 columns previewtile">

			<div class="row">
				<div class="small-12 columns text-right">

					<small><%= link_to 'View PUBLIC Profile', dashboard_public_profile_url, class: "itemformlink profilelink"%></small>
					<small><%= link_to 'Viewing FULL Profile', "#", class: "itemformlink active profilelink"%></small>
					<small><%= link_to 'EDIT Brand Profile', brand_url, class: "itemformlink profilelink"%></small><br>
					<div id="profile-name"><%= @profile.company_name %></div>
					<div id="profile-year-established"><%= @profile.year_established.strftime("est. %Y") rescue nil %></div>
					<div id="profile-website"><%= link_to @profile.website, "//#{@profile.website}" %></div>

				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<dl class="tabs" id="tabs" data-tab>
					  <dd class="active"><a href="#panel1"><%= render partial: "shared/svg/globe" %></a></dd>
					  <dd><a href="#panel2"><%= render partial: "shared/svg/factory" %></a></dd>
					  <dd><a href="#panel3"><%= render partial: "shared/svg/employees" %></a></dd>
					  <dd><a href="#panel4"><%= render partial: "shared/svg/shipping" %></a></dd>
					  <dd><a href="#panel5"><%= render partial: "shared/svg/sector" %></a></dd>
					  <dd><a href="#panel6"><%= render partial: "shared/svg/channel" %></a></dd>
					  <dd><a href="#panel7"><%= render partial: "shared/svg/sku" %></a></dd>
					  <dd><a href="#panel8"><%= render partial: "shared/svg/press" %></a></dd>
					  <dd><a href="#panel9"><%= render partial: "shared/svg/tradeshow" %></a></dd>
					  <dd><a href="#panel10"><%= render partial: "shared/svg/patent" %></a></dd>
					  <dd><a href="#panel11"><%= render partial: "shared/svg/trademark" %></a></dd>
					  <dd><a href="#panel12"><%= render partial: "shared/svg/certification" %></a></dd>
					</dl>
				</div>
				<div class="medium-8 columns">
					<div class="tabs-content">
					  <div class="content active" id="panel1">

					  	<div class="preview-data-title">
								Country of Origin
							</div>
							<div class="preview-data">
								<h1><%= @profile.country_of_origin %></h1>
							</div>

					  	<div class="preview-data-title">
								General Contact Information
							</div>
							<div class="preview-data">
								<h4><strong><%= @profile.contact_info.contact_name %></strong>, <%= @profile.contact_info.contact_title %><br>
										<%= @profile.contact_info.email %>, <%= @profile.contact_info.phone %>
								</h4>
								<h4><%= @profile.contact_info.address1 %><br><%= @profile.contact_info.address2 %><br>
										<%= @profile.contact_info.city %> <%= @profile.contact_info.state %>, <%= @profile.contact_info.postcode %><br>
										<%= @profile.contact_info.country %>
								</h4>								
							</div>


					  </div>
					  <div class="content" id="panel2">


									  	<div class="preview-data-title">
												Country of Manufacture ( Products Manufactured )
											</div>
											<div class="preview-data">
												<% @profile.products.distinct(:country_of_manufacture).each do |country| %>
														<strong><%= country %></strong>
														( 
														<% @profile.products.where(country_of_manufacture: country).each_with_index do |p, index| %>
															<%= p.name %> <%= (index + 1 >= @profile.products.where(country_of_manufacture: country).length) ? "" : ","  %>
														<% end %>
														)<br>
												<% end %>
											</div>    

					  </div>
					  <div class="content" id="panel3">

									  	<div class="preview-data-title">
												Company Size
											</div>
											<div class="preview-data">
												<h1><%= CompanySize.find(@profile.company_size).name %></h1>
											</div>    

					  </div>
					  <div class="content" id="panel4">

									  	<div class="preview-data-title">
												Countries of Export
											</div>
											<div class="preview-data">
												<% @profile.export_countries.each do |ec| %>
													<strong><%= ec.country %></strong><br>
												<% end %>
											</div>    

					  </div>
					  <div class="content" id="panel5">
					    
									  	<div class="preview-data-title">
												Sectors
											</div>
											<div class="preview-data">
												<% @profile.sectors.each do |s| %>
													<strong><%= s.name %></strong><br>
												<% end %>
											</div>

					  </div>
					  <div class="content" id="panel6">
					 

											<div class="preview-data-title">
												Channels ( Capacity )
											</div>
											<div class="preview-data">
												<% @profile.channels.each do |ch| %>
													<strong><%= ch.name %></strong> ( <%= @profile.channel_capacities.where(channel_id: ch.id).first.capacity || "TBD" %> )<br>
												<% end %>
											</div>

											<% if @profile.channel_capacities.where(channel_id: 0).length > 0 %>
	 								  	<div class="preview-data-title">
												Custom Channels ( Capacity )
											</div>
											<div class="preview-data">
												<% @profile.channel_capacities.where(channel_id: 0).each do |cch| %>
													<strong><%= cch.custom_channel_name %></strong> ( <%= cch.capacity || "TBD" %> )<br>
												<% end %>
											</div>											
											<% end %>

					  </div>

					  <div class="content" id="panel7">

											<div class="preview-data-title">
												Current Products
											</div>
											<div class="preview-data">

												<% if @profile.products.where(current: true).length > 0 %>
													<% @profile.products.where(current: true).each do |p| %>
														<%= render partial: "shared/collections_view/products", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Current Products]
												<% end %>

											</div>


											<div class="preview-data-title">
												Upcoming Products
											</div>
											<div class="preview-data">

												<% if @profile.products.where(current: false).length > 0 %>
													<% @profile.products.where(current: false).each do |p| %>
														<%= render partial: "shared/collections_view/products", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Upcoming Products]
												<% end %>

											</div>

					  </div>

					  <div class="content" id="panel8">

											<div class="preview-data-title">
												Press Hits
											</div>
											<div class="preview-data">

												<% if @profile.press_hits.length > 0 %>
													<% @profile.press_hits.each do |p| %>
														<%= render partial: "shared/collections_view/press_hits", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Press Clips]
												<% end %>

											</div>
						</div>

					  <div class="content" id="panel9">

											<div class="preview-data-title">
												Trade Shows
											</div>
											<div class="preview-data">

												<% if @profile.trade_shows.length > 0 %>
													<% @profile.trade_shows.each do |p| %>
														<%= render partial: "shared/collections_view/trade_shows", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Trade Shows]
												<% end %>

											</div>
						</div>


					  <div class="content" id="panel10">

											<div class="preview-data-title">
												Patents
											</div>
											<div class="preview-data">
												<% if @profile.patents.length > 0 %>
													<% @profile.patents.each do |p| %>
														<%= render partial: "shared/collections_view/patents", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
													[No Patents]
												<% end %>
											</div>
						</div>

					  <div class="content" id="panel11">

											<div class="preview-data-title">
												Trademarks
											</div>
											<div class="preview-data">
												<% if @profile.trademarks.length > 0 %>
													<% @profile.trademarks.each do |p| %>
														<%= render partial: "shared/collections_view/trademarks", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
												<br>
													[No Trademarks]
												<% end %>
											</div>
						</div>


					  <div class="content" id="panel12">

											<div class="preview-data-title">
												Certifications / Regulatory Compliance
											</div>
											<div class="preview-data">
												<% if @profile.compliances.length > 0 %>
													<% @profile.compliances.each do |p| %>
														<%= render partial: "shared/collections_view/compliance", locals: {
															collitem: p
														} %>
													<% end %>
												<% else %>
													<br>
													[No Certifications / Regulatory Compliances]
												<% end %>
											</div>
						</div>


					</div>					
				</div>

</div>

		</div>










		


	<% end %>

</div><!-- /.row -->
