
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

<div class="row">
	<div class="large-12 columns">
		<ul class="breadcrumbs">
		  <li class="current"><%= link_to "Your Dashboard", "#" %></li>
		</ul>					
	</div>
</div>

<div class="row">

	<div class="medium-4 columns">
		<div class="row">
			<div class="small-12 columns">
				<%= image_tag "/images/marketplace.svg" %>
			</div>
		</div>
		<br>
		<%= render "marketplace" %>



	</div>

	<div class="medium-4 columns">
		<div class="row">
			<div class="small-12 columns">
				<%= image_tag "/images/insights.svg" %>
			</div>
		</div>
		<br>
		<%= render "insights" %>



	</div>

	<div class="medium-4 columns">
		<div class="row">
			<div class="small-12 columns">
				<%= image_tag "/images/agency.svg" %>
			</div>
		</div>
		<br>
		<%= render "agency" %>

	</div>


</div>

	

