
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>

<% end %>
<% if browser.chrome? %>
chrome
<% end %>
<% if browser.ie? %>
ie
<% end %>
<% if browser.safari? %>
safari
<% end %>

<div class-"row">
	<div class="small-12 columns text-center">
		<h4><small>[CLICK ON HEADER TO EXPAND SECTION]</small></h4>
	</div>
</div>
<div class="row" data-equalizer>

	<div class="medium-4 columns" id="dashboard-marketplace-container">
		<div class="row">
			<div class="small-12 columns" id="dashboard-marketplace-header">
				<ul class="breadcrumbs marketplace" id="marketplace-h1">
				  <li class="current"><img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" /> <%= link_to "MARKETPLACE", "#" %></li>
				</ul>
				<ul class="breadcrumbs marketplace" style="display: none;" id="marketplace-h2">
				  <li class="current"><img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" /></li>
				</ul>
			</div>			
		</div>
		<div id="dashboard-marketplace-content" data-equalizer-watch>
			<div id="dashboard-marketplace-content-inner">
			<%= render "marketplace" %>
			</div>
		</div>
	</div>

	<div class="medium-4 columns" id="dashboard-insights-container">
		<div class="row">
			<div class="small-12 columns" id="dashboard-insights-header">
				<ul class="breadcrumbs insights" id="insights-h1">
				  <li class="current"><img src="/images/logos_insights.svg" height="30" width="30" alt="Insights" /> <%= link_to "INSIGHTS", "#" %></li>
				</ul>
				<ul class="breadcrumbs insights" style="display: none;" id="insights-h2">
				  <li class="current"><img src="/images/logos_insights.svg" height="30" width="30" alt="Insights" /></li>
				</ul>				
			</div>
		</div>

		<div id="dashboard-insights-content" data-equalizer-watch>
			<div id="dashboard-insights-content-inner">
			<%= render "insights" %>
			</div>
		</div>
	</div>

	<div class="medium-4 columns" id="dashboard-agency-container">
		<div class="row">
			<div class="small-12 columns" id="dashboard-agency-header">
				<ul class="breadcrumbs agency" id="agency-h1">
				  <li class="current"><img src="/images/logos_agency.svg" height="30" width="30" alt="Agency" /> <%= link_to "AGENCY", "#" %></li>
				</ul>
				<ul class="breadcrumbs agency" style="display: none;" id="agency-h2">
				  <li class="current"><img src="/images/logos_agency.svg" height="30" width="30" alt="Agency" /></li>
				</ul>				
			</div>
		</div>

		<div id="dashboard-agency-content" data-equalizer-watch>
			<div id="dashboard-agency-content-inner">	
			<%= render "agency" %>
			</div>
		</div>
	</div>

</div>

<br>
<br>	

