
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

	<div class="row">

		<div class="medium-4 columns">
			
				&nbsp;
			
		</div>


	<% if @current_user.distributor %>


		<div class="medium-8 columns text-right">
			<div class="previewtile">

				<div class="row">
					<div class="small-12 columns text-right">

						<small><%= link_to 'Viewing PUBLIC Profile', "#", class: "itemformlink active profilelink"%></small>
						<small><%= link_to 'View FULL Profile', dashboard_full_profile_url, class: "itemformlink profilelink"%></small>
						<small><%= link_to 'EDIT Distriubtor Profile', distributor_url, class: "itemformlink profilelink"%></small><br>
						<div id="profile-name">Company Name Hidden</div>
						<div id="profile-year-established"><%= @profile.year_established.strftime("est. %Y") rescue nil %></div>

					</div>
				</div>


				<div class="row">
					<div class="small-12 columns clearfix">
						<dl class="tabs right" id="myTabs" data-tab>
						  <dd class="active"><a href="#panel1"><%= render partial: "shared/svg/globe" %></a></dd>
						  <dd><a href="#panel2"><%= render partial: "shared/svg/employees" %></a></dd>
						  <dd><a href="#panel3"><%= render partial: "shared/svg/sector" %></a></dd>
						  <dd><a href="#panel4"><%= render partial: "shared/svg/channel" %></a></dd>
						</dl>
					</div>
				</div>

				<div class="tabs-content">
				  <div class="content active" id="panel1">
										
										<div class="preview-data">
											<%= @profile.country_of_origin %>
										</div>

				  </div>
				  <div class="content" id="panel2">

										<div class="preview-data">
											<%= CompanySize.find(@profile.company_size).name %> 
										</div>   

				  </div>
				  <div class="content" id="panel3">

						<div class="preview-data">
							<% @profile.sectors.each do |s| %>
								<%= s.name %><br>
							<% end %>
						</div> 

				  </div>
				  <div class="content" id="panel4">

 						<div class="preview-data">
							<% @profile.channels.each do |ch| %>
								<%= ch.name %><br>
							<% end %>
						</div>

				  </div>
				</div>

			</div>
		</div>
	</div>

	<% end %>

	<% if @current_user.brand %>


		<div class="medium-8 columns previewtile">

			<div class="row">
				<div class="small-12 columns text-right">

					<span id="profile-name"><%= @profile.company_name %></span><br>
					<span id="year-established"><%= @profile.year_established.strftime("est. %Y") rescue nil %></span>

						<br><small><%= link_to 'View PUBLIC Profile', dashboard_public_profile_url, class: "itemformlink"%></small>
								<small><%= link_to 'View FULL Profile', dashboard_full_profile_url, class: "itemformlink"%></small>
								<small><%= link_to 'EDIT Brand Profile', brand_url, class: "itemformlink"%></small>

				</div>
			</div>

			<div class="row">
				<div class="medium-4 columns">
					<dl class="tabs" id="tabs" data-tab>
					  <dd class="active"><a href="#panel1"><%= render partial: "shared/svg/globe" %></a></dd>
					  <dd><a href="#panel2"><%= render partial: "shared/svg/factory" %></a></dd>
					  <dd><a href="#panel3"><%= render partial: "shared/svg/employees" %></a></dd>
					  <dd><a href="#panel4"><%= render partial: "shared/svg/shipping" %></a></dd>
					  <dd><a href="#panel5"><%= render partial: "shared/svg/sector" %></a></dd>
					  <dd><a href="#panel6"><%= render partial: "shared/svg/channel" %></a></dd>
					</dl>
				</div>
				<div class="medium-8 columns" data-equalizer>
					<div class="tabs-content">
					  <div class="content active" id="panel1" data-equalizer-watch>

					  	<div class="preview-data-title">
								Country of Origin
							</div>
							<div class="preview-data">
								<h1><%= @profile.country_of_origin %></h1>
							</div>

					  </div>
					  <div class="content" id="panel2" data-equalizer-watch>


									  	<div class="preview-data-title">
												Countries of Manufacture
											</div>
											<div class="preview-data">
												<table>
													<tr><th>Country</th><th>Products manufactured there</th></tr>
												<% @profile.products.distinct(:country_of_manufacture).each do |country| %>
													<tr>
														<td>
															<%= country %>
														</td>
														<td>
														<% @profile.products.where(country_of_manufacture: country).each do |p| %>
															<%= p.name %><br>
														<% end %>
														</td>
													</tr>
												<% end %>
												</table>
											</div>    

					  </div>
					  <div class="content" id="panel3" data-equalizer-watch>

									  	<div class="preview-data-title">
												Company Size
											</div>
											<div class="preview-data">
												<h1><%= CompanySize.find(@profile.company_size).name %></h1>
											</div>    

					  </div>
					  <div class="content" id="panel4" data-equalizer-watch>

									  	<div class="preview-data-title">
												Countries of Export
											</div>
											<div class="preview-data">
												<% @profile.export_countries.each do |ec| %>
													<%= ec.country %><br>
												<% end %>
											</div>    

					  </div>
					  <div class="content" id="panel5" data-equalizer-watch>
					    
									  	<div class="preview-data-title">
												Sectors
											</div>
											<div class="preview-data">
												<% @profile.sectors.each do |s| %>
													<%= s.name %><br>
												<% end %>
											</div>

					  </div>
					  <div class="content" id="panel6" data-equalizer-watch>
					 

	 								  	<div class="preview-data-title">
												Channels ( Capacity )
											</div>
											<div class="preview-data">
												<% @profile.channels.each do |ch| %>
													<%= ch.name %> ( <%= @profile.channel_capacities.where(channel_id: ch.id).first.capacity || "TBD" %> )<br>
												<% end %>
											</div>

											<% if @profile.channel_capacities.where(channel_id: 0).length > 0 %>
	 								  	<div class="preview-data-title">
												Custom Channels ( Capacity )
											</div>
											<div class="preview-data">
												<% @profile.channel_capacities.where(channel_id: 0).each do |cch| %>
													<%= cch.custom_channel_name %> ( <%= cch.capacity || "TBD" %> )<br>
												<% end %>
											</div>											
											<% end %>

					  </div>
					</div>
					
				</div>

</div>

		</div>










		
	</div>

	<% end %>
