

<% content_for :user_head do %>
<div class="ldpanel">
	<div class="row">
		<div class="medium-6 columns">
			<h2>[Name TBD]</h2>
		</div>
		<div class="medium-6 columns text-right">
				<% if @current_user %>
					Hello, <%= @current_user.user_profile.firstname rescue @current_user.email %> |
					<%= link_to 'Dashboard', dashboard_url %> |
					<%= link_to 'logout', logout_url %>
				<% else %>
				<%= link_to 'Login', "#", id: "login" %> or <%= link_to 'Register', new_user_url %> 
				<% end %>
		</div>
	</div>
	<div class="row hide" id="loginform">
	<div class="medium-9 columns">
		<div class="row">
			<div class="medium-12 columns">
				<% if flash[:notice] %>
						<div data-alert class="alert-box success">
					  	<%= flash[:notice] %>
						  <a href="#" class="close">&times;</a>
						</div>
				<% end %>

				<% if flash[:error] %>
						<div data-alert class="alert-box warning">
					  	<%= flash[:error] %>
						  <a href="#" class="close">&times;</a>
						</div>
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="medium-5 columns">
				<%= form_tag url: '/login', method: 'post' do %>
					<%= email_field_tag :email, '', placeholder: 'email'%> 
			</div>
			<div class="medium-1 columns" style="padding: 1.2em;">
				/
			</div>
			<div class="medium-5 columns">
				<%= password_field_tag :password, '', placeholder: 'password' %>
			</div>
			<div class="medium-1 columns">
					<%= submit_tag 'login', class: "tiny radius success button" %>
				<% end %>
			</div>
		</div>

	</div>
</div>

</div>
<% end %>

<div class="ldpanel">
<div class="row">
	<div class="small-12 columns">
		
			blah blah blah
		</div>
	</div>

</div>