	
	<dl class="accordion" data-accordion>
	  <dd class="accordion-navigation">
	    <a href="#a_<%= collitem.id %>"><strong style="color: #5f5f5f;"><%= collitem.brand.empty? ? "( No Name )" : collitem.brand  %></strong>
	   	<% if collitem.product_photos %>
				<% collitem.product_photos.each do |photo| %>
					<%= image_tag photo.photo.url(:small), :width => '25', :height => '25' %>
				<% end %>
			<% end %>
	    <span class="right" style="color: #aaa;"><small>(more)</small></span></a>
	    <div id="a_<%= collitem.id %>" class="content">


	<div class="row">
		<div class="medium-6 columns">
			<small>Category:</small><br>
			<%= Sector.find(collitem.category).name %>
		</div>
		<div class="medium-6 columns">
			<small>Country of Manufacture:</small><br>
			<%= collitem.country_of_manufacture %>
		</div>			
	</div>
	<div class="row">					
		<div class="small-12 columns">
			<small>Website:</small><br>
			<%= collitem.website %>
		</div>			
	</div>
	<div class="row">					
		<div class="small-12 columns">
			<% if collitem.product_photos %>
				<% collitem.product_photos.each do |photo| %>
					<%= image_tag photo.photo.url(:small) %>
				<% end %>
			<% end %>
		</div>
	</div>


				</div>
		</dd>
	</dl>