<dl class="accordion" data-accordion>
  <dd class="accordion-navigation">
    <a href="#a_<%= collitem.id %>"><strong style="color: #5f5f5f;"><%= collitem.source.empty? ? "( No Name )" : collitem.source  %></strong>
    	<small style="color: #5f5f5f;"><%= collitem.date ? collitem.date.strftime("%b %d %Y") : "" %></small>
    <span class="right" style="color: #aaa;"><small>(more)</small></span></a>
    <div id="a_<%= collitem.id %>" class="content">


<div class="row">
	<div class="medium-6 columns">
		<small>Link:</small><br>
		<%= collitem.link %>
	</div>
	<div class="medium-6 columns">
		<small>Clipping:</small><br>
		<%= collitem.file.exists? ? (link_to collitem.file_file_name, collitem.file.url) : 'No file' %>
	</div>
</div>
<div class="row">			

	<div class="medium-12 columns">
		<small>Quotes:</small><br>
		<%= collitem.quotes %>
	</div>				
</div>


		</div>
	</dd>
</dl>