
	<% @messages.each do |m| %>
	<div class="row">
		<div class="small-11 small-centered <%= m.recipient == @current_user.type? ? "medium-9 medium-pull-1" : "medium-9 medium-push-1" %> columns">
			<div class="bubble-container">
				<div class=<%= m.recipient == @current_user.type? ? "bubble-them" : "bubble-you" %>>
					<%= simple_format(auto_link(m.text)) %>
				</div>
				<div class=<%= m.recipient == @current_user.type? ? "" : "text-right" %>>
					<small>Sent <%= m.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%d %b %Y at %H:%M %Z") %>
					<span><%= m.read && m.recipient == @current_user.type_inverse? ? "read" : "" %></span>
					<span style="color: red;"><%= !m.read && m.recipient == @current_user.type? ? "NEW!" : "" %></span>				
					</small>	
				</div>
			</div>
		</div>
	</div>
	
	<% mark_as_read(m) %>

	<% end %>