	

Unread Messages (from view helper [for this conversaton]): <%= unread_count_from_messages(@messages) %><br>
Unread Messages (from application controller [for all conversations]): <%= @messages_unread %><Br>

<% if @messages.count > 3 %>
<div class="row">
	<div class="small-10 small-centered columns text-center" style="background: #ccc; font-size: 0.8em;">
		<%= link_to all_messages_url(this_match(@match).id), remote: true do %>
			View entire conversation [<%= @messages.count - 3 %> Oldest Messages Hidden]
		<% end %>
	</div>
</div>
<% end %>


<% @messages.desc('c_at').limit(3).reverse_each do |m| %>
<div class="row">
	<div class="small-11 small-centered <%= m.recipient == @current_user.type? ? "medium-9 medium-pull-1" : "medium-9 medium-push-1" %> columns">
		<div class=<%= m.recipient == @current_user.type? ? "bubble-them" : "bubble-you" %>>
			<%= simple_format(m.text) %>
		</div>
		<div class=<%= m.recipient == @current_user.type? ? "" : "text-right" %>>
			<small>Sent <%= m.c_at.in_time_zone("Pacific Time (US & Canada)").strftime("%d %b %Y at %H:%M %Z") %></small>	
		</div>
	</div>
</div>
<% end %>