<%= render partial: "shared/topbar" %>
<%= render layout: "shared/panel" do %>

	<div class="row">
		<div class="small-12 columns">
			<h1>Brand Portfolio</h1>
		</div>
	</div>
	<div class="row">
		<div class="medium-10 columns push-2">
			<br>
			<div class="onboard-instructions smaller">Wow your brand partners with your track record of working with consumer products.  </div>
		</div>
	</div>

	<div class="row">
		<div class="medium-12 columns">
			<h3>Current Brands</h3>
			<hr>
		</div>
	</div>

	<%= render partial: "shared/editcollblock", locals: {
		coll: @current_brands,
		identifier: "brand",
		no_item_message: "No Current Brands",
		coll_new_item: @new_brand,
		coll_new_item_text: "Add a Current Brand",
		iscurrent: "true"
	} %>


	<div class="row">
		<div class="medium-12 columns">
			<h3>Past Brands</h3>
			<hr>
		</div>
	</div>

	<%= render partial: "shared/editcollblock", locals: {
		coll: @past_brands,
		identifier: "brand",
		no_item_message: "No Past Brands",
		coll_new_item: @new_brand,
		coll_new_item_text: "Add a Past Brand",
		iscurrent: "false"
	} %>

	<br><br>
	<div class="row onboard-submit-footer">
		<div class="medium-12 columns text-right">
			<%= button_to "Next", onboard_distributor_six_url, method: :get, class: "tiny radius alert button right" %>
			<%= render "shared/profileform/return_later" %>
		</div>
	</div>

<% end %>