<%= render partial: "shared/topbar" %>
<%= render layout: "shared/panel" do %>

	<div class="row">
		<div class="small-2 columns">
			<%= render partial: "shared/svg/brandportfolio", locals: {nolabel: true} %>
		</div>
		<div class="small-10 columns">
			<h1>Brand Portfolio</h1>
		</div>
	</div>
	<div class="row">
		<div class="medium-10 columns push-2">
			<br>
			<div class="onboard-instructions smaller">Wow your brand partners with your track record of working with consumer products.  </div>
			<hr>
		</div>
	</div>


	<%= render partial: "shared/editcollblock", locals: { 
		headertitle: "Current Brands",
		coll: @current_brands,
		identifier: "brand",
		no_item_message: "No Current Brands",
		coll_new_item: @new_brand,
		coll_new_item_text: "Add a Current Brand",
		iscurrent: "true"
	} %>

	<div class="row">
		<div class="medium-6 medium-centered columns text-center">
			<hr>
		</div>
	</div>

	<%= render partial: "shared/editcollblock", locals: { 
		headertitle: "Past Brands",
		coll: @past_brands,
		identifier: "brand",
		no_item_message: "No Past Brands",
		coll_new_item: @new_brand,
		coll_new_item_text: "Add a Past Brand",
		iscurrent: "false"
	} %>

<%= button_to "Continue", onboard_distributor_five_url, method: :get, class: "tiny radius success button right" %>

<% end %>