

<%= render partial: "shared/paneltop" %>

<div class="row">
	<div class="medium-12 columns">
		<h1>Channel Capacities</h1>
		<hr>
	</div>
</div>

<div class="row">
	<div class="medium-8 medium-centered columns">
	<div class="groupwrapper">


<div class="row">
	<div class="medium-5 columns text-right">
		<h4 class="columnheader">Channel</h4>
	</div>
	<div class="medium-7 columns">
		<h4 class="columnheader">Capacity</h4>
	</div>
</div>	


				<%= form_tag(channel_capacity_bulkupdate_url, method: "post") do  %>
					<%= hidden_field_tag :ob, 'true' %>
					<% @distributor.channels.each do |chan| %>
					
						<div class="row">
							<div class="medium-5 columns">
								<%= label_tag "channel_capacity[bulk_ids][#{chan.id}]", chan.name, class: "inline right" %>
							</div>
							<div class="medium-4 columns end">
								<%= number_field_tag("channel_capacity[bulk_ids][#{chan.id}]", @distributor.channel_capacities.where(channel_id: chan.id).first.capacity) %>
							</div>
						</div>
		
					<% end %>

					<% if @distributor.channel_capacities.where(channel_id: 0).first %>
						<div class="row">
							<div class="medium-11 columns text-center">
								<h6>(Custom Channels)</h6>
							</div>
						</div>
					<% end %>
					<% @distributor.channel_capacities.where(channel_id: 0).each do |cc| %>
						<div class="row">
							<div class="medium-5 columns">
								<%= label_tag "channel_capacity[bulk_ids][#{cc.id}]", cc.custom_channel_name, class: "inline right" %>
							</div>
							<div class="medium-4 columns">
								<%= number_field_tag("channel_capacity[bulk_ids][#{cc.id}]", cc.capacity) %>
							</div>
							<div class="medium-3 columns text-right" style="padding: 0.7em 1em;">
								<%= link_to 'Delete', channel_capacity_url(cc, :ob => 'true'), :method => :delete, data: { :confirm => "Are you sure you want to delete #{cc.custom_channel_name}?"}%>
							</div>
						</div>

					<% end %>

						<div class="row">
							<div class="medium-12 columns">
								<hr>
								<%= submit_tag('Update and Continue', class: "tiny radius success button right") %>
							</div>
						</div>

				<% end %>					



		</div>
	</div>
</div>

<div class="row">
	<div class="medium-8 medium-centered columns">
		<div class="groupwrapper">


				<%= form_for @new_channel_capacity, :html => { :id => "new_channel_capacity" } do |f| %>
				<%= hidden_field_tag :ob, 'true' %>
					<div class="row">
						<div class="medium-12 columns">
							<h6>Add Custom Channels</h6>
							<hr>
						</div>
					</div>

					<div class="row">
						<div class="medium-9 columns">
							<%= f.text_field :custom_channel_name, label: false, placeholder: 'Custom Channel Name' %>
						</div>
						<div class="medium-3 columns text-right" style="padding: 0.7em 1em;">
							<%= link_to 'add', "#", :onclick => "$('#new_channel_capacity').submit()".html_safe %>
						</div>
					</div>

				<% end %>	


		</div>
	</div>
</div>


<%= render partial: "shared/panelbottom" %>


