
<%= render partial: "shared/paneltop" %>
	<div class="row">
		<div class="medium-12 columns">
			<h1>What is your Company's name?</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<%= form_for @distributor, url: distributor_url do |f| %>
		<%= hidden_field_tag :redirect, 'two' %>
		<div class="medium-12 columns">
			<%= f.text_area :name, rows: 2, style: "font-size:2em; font-weight:bold;", placeholder: "Distributor Name" %>
		</div>
		<div class="medium-12 columns">
			<hr>
			<%= f.submit 'Update and Continue', class: "tiny radius success button right" %>
		</div>
		<% end %>
	</div>
<%= render partial: "shared/panelbottom" %>