<%= render partial: "shared/topbar" %>
<%= render layout: "shared/panel" do %>

	<div class="row">
		<div class="medium-12 medium-centered columns text-center">
			<div class="onboard-instructions">We will walk you through etc (short description of what's coming)...</div>
			<br>
		</div>
	</div>	
	
	<div class="row">
		<div class="medium-12 columns">
			<h1>What is your Company's name?</h1>
		</div>
	</div>
	<div class="row">
		<%= form_for @distributor, url: distributor_url do |f| %>
		<%= hidden_field_tag :redirect, 'two' %>
		<div class="medium-12 columns">
			<%= f.text_area :company_name, rows: 2, style: "font-size:2em; font-weight:bold;", placeholder: "Company Name" %>
		</div>
		<div class="medium-12 columns">
			<hr>
			<%= f.submit 'Update and Continue', class: "tiny radius success button right" %>
		</div>
		<% end %>
	</div>
<% end %>