
<%= render partial: "shared/paneltop" %>
	<div class="row">
		<div class="medium-12 columns">
			<h1>Sales / Education Capabilities</h1>
			<hr>
		</div>
	</div>
				
	<%= form_for @distributor, url: distributor_url do |f| %>
	<%= hidden_field_tag :redirect, 'seven' %>
	<div class="row">

		<div class="medium-12 columns">
			<%= render partial: "shared/numeric_field", locals: {f: f, field: :outside_sales_size, fieldlabel: 'Outside Sales Force Size' } %>
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<%= render partial: "shared/numeric_field", locals: {f: f, field: :inside_sales_size, fieldlabel: 'Inside Sales Force Size' } %>	
		</div>
	</div>
	<div class="row">
		<div class="medium-12 columns">
			<hr>
			<%= f.submit 'Update and Continue', class: "tiny radius success button right" %>
		</div>
	</div>
	<% end %>	

<%= render partial: "shared/panelbottom" %>