<%= render partial: "shared/topbar" %>
<%= render layout: "shared/panel" do %>
	<div class="row">
		<div class="medium-12 columns">
			<h1>Sector and Channel Profile (continued)</h1>
			<div class="row">
				<div class="medium-10 medium-centered columns text-center">
					<br>
					<div class="onboard-instructions">Instructions here...</div>
					<hr>
				</div>
			</div>
		</div>
	</div>

	
	<div class="row">
		<div class="medium-10 medium-centered columns">
			<div class="row">
				<div class="medium-6 columns">
					<h3>Your Selected Sectors</h3>
					<% @sectors.each do |sc| %>
					<div class="customchanneldisplay">
						<%= sc.name %>
					</div>
					<% end %>
				</div>
				<div class="medium-6 columns">						
					<h3>Your Selected Channels</h3>
					<% @channels.each do |sc| %>
					<div class="customchanneldisplay">
						<%= sc.name %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-10 medium-centered columns">
			<br>
			<%= link_to 'Change selections',  onboard_distributor_three_url, class: "right itemformlink" %>
			
		</div>
	</div>
	

	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<hr>
			You can add (optional) custom channels...
			<hr>
		</div>
	</div>

	<% if @distributor.channel_capacities.where(channel_id: 0).first %>
		<div class="row">
			<div class="medium-7 medium-centered columns">
				<h3>Custom Channels</h3>
			</div>
		</div>
	<% end %>
	<% @distributor.channel_capacities.where(channel_id: 0).each do |cc| %>
		<div class="row">
			<div class="medium-7 medium-centered columns">
				<div class="row">
					<div class="medium-12 columns">
						<div class="customchanneldisplay">
							<%= cc.custom_channel_name %> <%= link_to 'Delete', cc, :method => :delete, data: { :confirm => "Are you sure you want to delete #{cc.custom_channel_name}?"}, class: "right itemformlink" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>

	<div class="row">
		<div class="medium-7 medium-centered columns">
			<div class="groupwrapper">

					<%= form_for @new_channel_capacity, :html => { :id => "new_channel_capacity" } do |f| %>
					<%= hidden_field_tag :ob, 'true' %>
						<div class="row">
							<div class="medium-12 columns">
								<h3>Add Custom Channels</h3>
							</div>
						</div>

						<div class="row">
							<div class="medium-9 columns">
								<%= f.text_field :custom_channel_name, label: false, placeholder: 'Custom Channel Name' %>
							</div>
							<div class="medium-3 columns text-right" style="padding: 0.7em 1em;">
								<%= link_to 'add', "#", :onclick => "$('#new_channel_capacity').submit()".html_safe, class: "itemformlink" %>
							</div>
						</div>

					<% end %>	

			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-10 medium-centered columns text-center">
			<hr>
			When finished click to continue... <%= button_to "Continue", onboard_distributor_four_url, method: :get, class: "tiny radius success button right" %>
			<hr>
			
		</div>
	</div>
			
<% end %>