
<div class="hide-for-small-only" id="match-russia">
	<%= link_to 'RUSSIA', all_matches_url(:country => 'russia'), class: "match-map search-on" %>
</div>
<div class="hide-for-small-only" id="match-china">
	<%= link_to 'CHINA', all_matches_url(:country => 'china'), class: "match-map search-on" %>
</div>
<div class="hide-for-small-only" id="match-india">
	<%= link_to 'INDIA', all_matches_url(:country => 'india'), class: "match-map search-on" %>
</div>
<div class="hide-for-small-only" id="match-brazil">
	<%= link_to 'BRAZIL', all_matches_url(:country => 'brazil'), class: "match-map search-on" %>
</div>
<div class="hide-for-small-only" id="match-korea">
	<%= link_to 'SOUTH KOREA', all_matches_url(:country => 'korea'), class: "match-map search-on" %>
</div>
<div class="hide-for-small-only" id="match-uk">
	<%= link_to 'UNITED KINGDOM', all_matches_url(:country => 'uk'), class: "match-map search-on" %>
</div>

<div class="row show-for-small-only">
	<div class="small-12 columns">
	<%= link_to 'Russia', all_matches_url%><br>
	<%= link_to 'China', all_matches_url%><br>
	<%= link_to 'India', all_matches_url%><br>
	<%= link_to 'Brazil', all_matches_url%><br>
	<%= link_to 'Korea', all_matches_url%><br>
	<%= link_to 'United Kingdom', all_matches_url%><br>		
	</div><!--/.small-12-->
</div><!--/.row-->

