
	
<% if @current_user.subscriber? %>
		<div class="row">
			<div class="small-12 columns">

				<% if !this_match(profile) %>
				<div id="pct_<%= profile.id %>">
					<div class="profile-save-tile text-center">
						<%#= link_to 'Contact', contact_match_url(profile.id), remote: true %>
						<%= link_to 'Contact', "#", :data => {:'reveal-id' => "contactModal"} %>
						<%#= @current_user.send(@current_user.type?).matches.where(brand_id: profile.id).first %>
					</div>
				</div>
				<div id="contactModal" class="reveal-modal small" data-reveal>

				  <h2>Contact<br><strong><%= profile.company_name %></strong></h2>
				  <p>Send them a message</p>

					<%= form_tag contact_match_url, method: 'get', remote: true do %>
						<%= hidden_field_tag(:match_id, profile.id) %>
					  <%= label_tag(:m, "Message:") %>
					  <%= text_area_tag(:m, nil, rows: "5") %>
					  <%= submit_tag("Contact") %>
					<% end %> 

				  <a class="close-reveal-modal">&#215;</a>
				</div>					
				<% end %>

			</div>
		</div>

<% else %>	

	<div class="row">
		<div class="small-12 columns">
			<div>
			<div class="profile-save-tile text-center deactivate">
				<span data-tooltip aria-haspopup="true" class="has-tip" title="Available only to Subscribers" style>
				<%= link_to 'Contact', "#" %>
				</span>
			</div>
			</div>
		</div>
	</div>

<% end %>
