

<div class="row">

<div class="medium-9 push-3 columns">

<% if @matches.blank? %>
	<div class="row">
		<div class="small-12 columns previewtile text-left">
			<% if action_name == "index" %>
				No Brands. Please try altering your filter selections.
			<% elsif action_name == "index_saved_matches" %>
				No Saved Brands. You can save matches on the All Matches screen.
			<% elsif action_name == "index_contacted_matches" %>
				No Contacted Brands. You can contact matches on the All Matches or Saved Matches screens.
			<% elsif action_name == "index_incoming_matches" %>
				No Brands have contacted you.
			<% end %>
		</div>
	</div>
<% else %>

	<div class="row">
		<div class="small-12 columns">
			<table>
				  <thead>
				  	<tr><th width="800" colspan="2">
							<%= render "counts" %>
				  	</th></tr>
				  	<tr>
				  		<th>
								Company
					  	</th>
				  		<th>
								Country of Origin
					  	</th>
					  </tr>				  	
				  </thead>
			  	<tbody>
					<% @matches.sort_by {|x| [x.country_of_origin, x.company_name] }.each do |match| %>
					<tr>
						<td><%= link_to match.company_name, view_match_url(match.id, action_name) %>
						<%= render partial: "match_list_indicators", locals: {match: match} %>
						</td>
						<td><%= match.country_of_origin %></td>
					</tr>
					<% end %>
					</tbody>
		</table>
		</div>
	</div>
<% end %>

</div> <!-- /.medium-9 push-3 columns-->


<div class="medium-3 pull-9 columns <%= action_name == "index" ? "previewtile" : "" %>">

<% if action_name == "index" %>
<div class="profile-outer-tile">
	<h3><strong> Filters </strong></h3>
	<%= form_tag all_matches_url, method: 'post' do %>
	<div class="row filterform">
		<div class="small-12 columns">
			<strong><small>Countries</small></strong>					
			<% @countries.each_with_index do |co, index| %>
				<%= render partial: "shared/filter_checkbox", locals: {field: "country", label: co, fid: co, cbid: "country_#{index}", on_off_switch: filter_on_or_off(co, @country), cclass: "mfcountry" } %>
			<% end %>
			<input id="selectallcountries" name="selectallcountries" type="checkbox" style="font-color: black;" class="filter" checked/>
			<label for="selectallcountries" style="color: black; border: 1px dotted black; background: transparent;">Select/Deselect All</label>
			<hr>
		</div>
	</div>
	<div class="row filterform">					
		<div class="small-12 columns">
			<strong><small>Company Size</small></strong>
			<% CompanySize.all.each_with_index do |co, index| %>
				<%= render partial: "shared/filter_checkbox", locals: {field: "size", label: co.name, fid: co.id, cbid: "size_#{index}", on_off_switch: filter_on_or_off(co.id.to_s, @size), cclass: "mfsize" } %>
			<% end %>
			<input id="selectallsizes" name="selectallsizes" type="checkbox" style="font-color: black;" class="filter" checked/>
			<label for="selectallsizes" style="color: black; border: 1px dotted black; background: transparent;">Select/Deselect All</label>
			<hr>
		</div>
	</div>
	<div class="row filterform">
		<div class="small-12 columns">
			<strong><small>Sectors</small></strong>
			<% @profile.sectors.each_with_index do |co, index| %>
				<%= render partial: "shared/filter_checkbox", locals: {field: "sector", label: co.name, fid: co.id, cbid: "sector_#{index}", on_off_switch: filter_on_or_off(co.id.to_s, @sector), cclass: "mfsector" } %>
			<% end %>
			<input id="selectallsectors" name="selectallsectors" type="checkbox" style="font-color: black;" class="filter" checked/>
			<label for="selectallsectors" style="color: black; border: 1px dotted black; background: transparent;">Select/Deselect All</label>
			<hr>
		</div>
	</div>
	<div class="row filterform">
		<div class="small-12 columns">
			<strong><small>Channels</small></strong>
			<% @profile.channels.each_with_index do |co, index| %>
				<%= render partial: "shared/filter_checkbox", locals: {field: "channel", label: co.name, fid: co.id, cbid: "channel_#{index}", on_off_switch: filter_on_or_off(co.id.to_s, @channel), cclass: "mfchannel" } %>
			<% end %>
			<input id="selectallchannels" name="selectallchannels" type="checkbox" style="font-color: black;" class="filter" checked/>
			<label for="selectallchannels" style="color: black; border: 1px dotted black; background: transparent;">Select/Deselect All</label>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<%= submit_tag 'Filter Results', class: "tiny radius success button right" %>
		</div>
	</div>
	<% end %>
</div>
<% end %>


</div> <!-- /.medium-3 pull-9 columns-->


</div> <!-- /.row -->
