<% if @messages && @current_user.subscriber? %>

<div class="row">
	<div class="small-12 columns">
		<dl class="tabs right" data-tab>	  
		  <dd class="active"><a href="#panel1">Conversation</a></dd>
		  <dd><a href="#panel2">Profile</a></dd>
		</dl>
	</div>
</div>

<div class="tabs-content">

  <div class="content active" id="panel1">
    
		<div class="row">

			<div class="medium-4 columns text-right">

			<div class="view-match-company-info">
				<%= image_tag @match.logo.url(:medium), width: "200", height: "200", alt: "Logo" %>

				<h2><strong><%= @match.company_name %></strong></h2>
				<h3><small>web</small> <strong><%= link_to @match.website, "//#{@match.website}" %></strong></h3>

				<% if this_match(@match) %>
					<% if i_contacted(this_match(@match)) %>
						<span class="plt-indicator-info"><strong>You Contacted</strong> <%= @match.company_name %></span>
					<% else %>
						<span class="plt-indicator-info"><%= @match.company_name %> <strong>Contacted You</strong></span>
					<% end %>
				<% end %>

				<% if this_match(@match) %>
					<% if !this_match(@match).messages.blank? %>
						<span class="plt-indicator-info">In Conversation</span>
					<% end %>
				<% end %>

				<% if @match.user.last_login %>
					<span class="plt-indicator-info">Active in the past <strong><%= last_activity(@match.user.last_login) %></strong></span>
				<% end %>
			</div>


			</div>
			<div class="medium-8 columns previewtile">
				<% if this_match(@match) %>
					<% if i_contacted(this_match(@match)) %>
						<%= render partial: "outgoing_contact" %>
					<% else %>
						<%= render partial: "incoming_contact" %>
					<% end %>
				<% end %>
			</div>
		</div>

  </div>

  <div class="content" id="panel2">
		<div class="row">
			<div class="medium-12 columns previewtile">

				<% if @current_user.distributor %>

						<%= render partial: "/shared/profile/brand_full_profile", locals: {profile: @match} %>

				<% elsif @current_user.brand %>

						<%= render partial: "/shared/profile/distributor_full_profile", locals: {profile: @match} %>

				<% end %>
			</div>
		</div>
  </div>
</div>

<% else %>

<div class="row">
	<div class="medium-12 columns previewtile">

		<% if @current_user.distributor %>

			<% if @current_user.subscriber? %>
				<%= render partial: "/shared/profile/brand_full_profile_tiles", locals: {profile: @match} %>
			<% else %>
				<%# LEGACY?  SEE IF CAN REMOVE %>
				<%#= render partial: "/shared/profile/brand_public_profile_tiles", locals: {profile: @match} %>
			<% end %>

		<% elsif @current_user.brand %>

			<% if @current_user.subscriber? %>
				<%= render partial: "/shared/profile/distributor_full_profile_tiles", locals: {profile: @match} %>
			<% else %>
				<%# LEGACY?  SEE IF CAN REMOVE %>
				<%#= render partial: "/shared/profile/distributor_public_profile_tiles", locals: {profile: @match} %>
			<% end %>

		<% end %>
	</div>
</div>

<% end %>