
	
	<% if controller_name == "matches" && action_name == "index" %>
		<div class="row">
			<div class="medium-10 columns">
			</div>
			<div class="medium-2 columns">

					<% if @current_user.send(@current_user.type?).saved_matches.find(profile.id) %>
					<div id="pst_<%= profile.id %>">
						<div class="profile-save-tile text-center active">
							<%= link_to 'Saved', unsave_match_url(profile.id,"false"), remote: true %>
						</div>
					</div>
					<% else %>
					<div id="pst_<%= profile.id %>">
						<div class="profile-save-tile text-center">
							<%= link_to 'Save', save_match_url(profile.id), remote: true %>
						</div>
					</div>
					<% end %>

			</div>
		</div>

	<% elsif controller_name == "matches" && action_name == "index_saved_matches" %>

		<div class="row">
			<div class="medium-10 columns">
			</div>
			<div class="medium-2 columns">
				<div id="pst_<%= profile.id %>">
					<div class="profile-save-tile text-center active">
						<%= link_to 'Saved', unsave_match_url(profile.id,"true"), remote: true %>
					</div>
				</div>
			</div>
		</div>

	<% end %>