<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="small-11 small-centered columns marketplace-header">
		<%= image_tag "logo_header_marketplace.svg" %>
	</div>
</div>

<div class="row">
	<div class="small-11 small-centered columns marketplace-subpage-header">
	<h1>GALLERY</h1>
	<h3>Browse all products currently in the Landing Marketplace.</h3>
	</div>
</div>

<div class="row collapse">
	<div class="small-11 small-centered columns">
		<div class="marketplace-content padded">
			<div class="row">
				<div class="small-3 columns">

				<% @gallery1.each do |item| %>
						<%= link_to view_match_path(item.photographable.brand.id, "na") do %>
						<%= image_tag item.photo %>
						<% end %>
						<br><br>
				<% end %>

				</div><!--/.small-2-->
				<div class="small-3 columns">
				<% @gallery2.each do |item| %>
						<%= link_to view_match_path(item.photographable.brand.id, "na") do %>
						<%= image_tag item.photo %>
						<% end %>
						<br><br>
				<% end %>
				</div><!--/.small-2-->
				<div class="small-3 columns">
				<% @gallery3.each do |item| %>
						<%= link_to view_match_path(item.photographable.brand.id, "na") do %>
						<%= image_tag item.photo %>
						<% end %>
						<br><br>
				<% end %>
				</div><!--/.small-2-->
				<div class="small-3 columns">
				<% @gallery4.each do |item| %>
						<%= link_to view_match_path(item.photographable.brand.id, "na") do %>
						<%= image_tag item.photo %>
						<% end %>
						<br><br>
				<% end %>
				</div><!--/.small-2-->


			</div><!--/.row-->
		</div>
	</div>
</div>