<% matchtype = @current_user.type? == "distributor" ? "Brands" : "Distributors" %>
<%= render partial: "shared/topbar" %>


<div class="row collapse">
	<div class="medium-2 hide-for-small-only columns text-right" id="side-nav-container">
		<%= render 'shared/matches/side_nav' %>
	</div><!--/.medium-4 hide-for-small-only -->

	<div class="medium-10 small-12 columns" id="side-nav-content">		

<% if @current_user.subscriber? %>

		<% unless @matches_accepted.blank? %>
		<div class="messages-panel">
		<h2>Current Conversations</h2>
		<small><strong><%= render partial: "counts", locals: {matches: @matches_accepted} %></strong></small>
		<hr>		
		<div class="saved-contacted-match-list">
		<%= render partial: "#{@current_user.type?}_match_list", locals: {matches: @matches_accepted} %>
		</div>
		</div>
		<% end %>

		<% unless @matches_accepted.blank? || @matches_waiting.blank? %>
		<hr>
		<% end %>

		<% unless @matches_waiting.blank? %>
		<div class="messages-panel">
		<h2>Awaiting Response</h2>
		<small><strong><%= render partial: "counts", locals: {matches: @matches_waiting} %></strong></small>
		<hr>
		<div class="saved-contacted-match-list">
		<%= render partial: "#{@current_user.type?}_match_list", locals: {matches: @matches_waiting} %>
		</div>
		</div>
		<% end %>

<% else %>
	<h2>Available to subscribers only</h2>
<% end %>

	</div><!--/.medium-10-->
</div>
