<% matchtype = @current_user.type? == "distributor" ? "Brands" : "Distributors" %>
<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="small-11 small-centered columns marketplace-header">
		<%= image_tag "logo_header_marketplace.svg" %>
	</div>
</div>

<div class="row">
	<div class="small-11 small-centered columns marketplace-subpage-header">
	<h1>SAVED <%= @current_user.type_inverse?.upcase %>S</h1>
	<h3><%=@current_user.type_inverse?.capitalize %>s to contact later.</h3>
	
	</div>
</div>


<div class="row collapse">
	<div class="small-11 small-centered columns" id="page-content">

		

		<% if @matches.values.all? {|x| x.blank? } %>
			<%= render "no_matches" %>
		<% else %>
			<div class="marketplace-content padded">
			<div class="row">
				<div class="small-12 columns text-right">
					<%= render "list_style" %>		
				</div><!--/.small-12-->
			</div><!--/.row-->
			<% @matches.each do |set,list| %>
			<% next if list.blank? %>
				<h2><%= set %></h2>			
				<small><strong><%= render partial: "counts", locals: {matches: list} %></strong></small>
				<div class="saved-contacted-match-list">
				<%= render partial: "#{@current_user.type?}_match_list", locals: {matches: list, set: set, ort: @list_style} %>
				</div>
				<hr>
			<% end %>
			</div>
		<% end %>

		
	</div><!--/.small-12-->
</div>
