<%= render partial: "shared/topbar" %>

<% content_for :subnav do %>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs marketplace">
			<% matchtype = @current_user.distributor ? "Brand" : "Distributor" %>
		  <li class="current"><%= render "shared/imageswap/marketplace_logo" %> <%= link_to "Your #{matchtype} Matches", "#" %></li>
		</ul>
	</div>
</div>

<% if @current_user.send(@current_user.type?).sectors.blank? %>
	
	<div class="row">
		<div class="small-12 columns text-center">
			<h2><strong>You don't have you SECTOR designated in 
				<%= link_to 'Your Profile', eval("#{@current_user.type?}_url(:anchor => 'a-sectors')") %>
			</strong> <br>
			You can't get matched with <%=@current_user.type_inverse?.capitalize%>s without a designated SECTOR.</h2>
		</div>
	</div>

<% else %>

	<% if @current_user.brand %>

		<%= render partial: "brand" %>

	<% else %>

		<%= render partial: "distributor" %>

	<% end %>

<% end %>