<%= render partial: "shared/topbar" %>

<% content_for :subnav do %>
<div class="row">
	<div class="small-12 columns">
		<dl class="sub-nav">
		  <dd <%= action_name == "index" ? "class='active'".html_safe : ""%>><%= link_to 'All Matches', all_matches_url %></dd>
		  <dd <%= action_name == "index_saved_matches" ? "class='active'".html_safe : ""%>><%= link_to 'Saved Matches', saved_matches_url %></dd>
		  <dd <%= action_name == "index_contacted_matches" ? "class='active'".html_safe : ""%>><%= link_to 'Contacted Matches', contacted_matches_url %></dd>
		</dl>
	</div>
</div>
<% end %>

<% if @current_user.brand %>

	<%= render partial: "brand" %>

<% else %>

	<%= render partial: "distributor" %>

<% end %>
