<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="medium-2 hide-for-small-only columns text-right" id="side-nav-container">
		<%= render 'shared/matches/side_nav' %>
	</div><!--/.medium-4 hide-for-small-only -->
	<div class="small-12 medium-10 columns" id="side-nav-content">

<% if @current_user.send(@current_user.type?).sectors.blank? %>
	
	
			<h2><strong>You don't have you SECTOR designated in 
				<%= link_to 'Your Profile', eval("#{@current_user.type?}_url(:anchor => 'a-sectors')") %>
			</strong> <br>
			You can't get matched with <%=@current_user.type_inverse?.capitalize%>s without a designated SECTOR.</h2>
	
<% else %>

	<% case @current_user.type? %>
	<% when 'brand'%>


	<% if !@country %>	

		<div id="match-map-container">
			<div class="row show-for-small-only">
				<div class="small-12 columns">
					<h2>Find a Distributor for:</h2>		
				</div><!--/.small-12-->
			</div>

			<div id="match-search">
				<%= render partial: "brand_search_start" %>
			</div>

		</div><!--/.match-map-container -->

	<% else %>

		<div id="match-reset">
			<h1><%= @country_proper %></h1>
			<strong><%= render "counts" %></strong>
			<small><%= link_to 'SEARCH ANOTHER COUNTRY', all_matches_url %></small>
		</div>
		<div id="match-list">
			<div class="row">
				<div class="small-12 columns" >
					<%= render 'brand_match_list' %>
				</div>
			</div>
		</div>

	<% end %>

	<% when 'distributor' %>

	<% if !@sector %>	

		<div id="match-map-container">
			<div class="row show-for-small-only">
				<div class="small-12 columns">
					<h2>Browse Brands:</h2>		
				</div><!--/.small-12-->
			</div>

			<div id="match-search">
				<%= render partial: "distributor_search_start" %>
			</div>

		</div><!--/.match-map-container -->

	<% else %>

		<div id="match-reset">
			<h1><%= Sector.find(@sector).name %></h1>
			<strong><%= render "counts" %></strong>
			<small><%= link_to 'BROWSE ANOTHER SECTOR', all_matches_url %></small>
		</div>
		<div id="match-list">
			<div class="row">
				<div class="small-12 columns" >
					<%= render 'distributor_match_list' %>
				</div>
			</div>
		</div>

	<% end %>

	<% end %>


<% end %>

	</div><!--/.row-->

