
<%= render partial: "shared/topbar" %>

<div class="row">
	<div class="medium-2 hide-for-small-only columns text-right" id="side-nav-container">
		<%= render 'shared/matches/side_nav' %>
	</div><!--/.medium-4 hide-for-small-only -->

	<div class="medium-10 small-12 columns">



<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs marketplace">
			<li><%= render "shared/imageswap/marketplace_logo" %>
			<% if @referrer %>
				<% matchtype = @current_user.type_inverse? %>
				<%= link_to "Find #{matchtype}s", all_matches_url %></li>

				<% if @referrer == "index_saved_matches" %>  
				  <li><%= link_to "Saved #{matchtype}s", saved_matches_url %><img src="/images/breadcrumb_shim.gif" height="30" width="2" alt="Marketplace" style="visibility: hidden;"/></li>
				<% elsif @referrer == "index_contacted_matches" %>  
				  <li><%= link_to "#{matchtype}s you contacted", contacted_matches_url %><img src="/images/breadcrumb_shim.gif" height="30" width="2" alt="Marketplace" style="visibility: hidden;"/></li>
				<% elsif @referrer == "index_incoming_matches" %>  
				  <li><%= link_to "#{matchtype}s contacting you", incoming_matches_url %><img src="/images/breadcrumb_shim.gif" height="30" width="2" alt="Marketplace" style="visibility: hidden;"/></li>
			  <% end %>
		  <% else %>
				<%= link_to 'All Matches', all_matches_url %>
		  <% end %>
		  </li>
		  <li class="current"> <%= link_to (@current_user.subscriber? ? "<strong>#{@match.company_name}</strong>".html_safe : "[Name Hidden]"), "#" %> <img src="/images/breadcrumb_shim.gif" height="30" width="2" alt="Marketplace" style="visibility: hidden;"/></li>
		</ul>
	</div>
</div>



<div id="match-view">

<%= render "match_view" %>

</div> <!-- /.#match-view -->


	</div><!--/.medium-10-->
</div>






