
<%= render partial: "shared/topbar" %>


<% content_for :subnav do %>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs marketplace">
			<li><img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" /> 
			<% if @referrer %>
				<% matchtype = @current_user.type_inverse? %>
				<%= link_to "Your #{matchtype} Matches", all_matches_url %>
				<% if @referrer == "index_saved_matches" %>  
				  <%= link_to "Saved #{matchtype}s", saved_matches_url %>
				<% elsif @referrer == "index_contacted_matches" %>  
				  <%= link_to "#{matchtype}s you contacted", contacted_matches_url %>
				<% elsif @referrer == "index_incoming_matches" %>  
				  <%= link_to "#{matchtype}s contacting you", incoming_matches_url %>
			  <% end %>
		  <% else %>
				<%= link_to 'All Matches', all_matches_url %>
		  <% end %>
		  </li>
		  <li class="current"> <%= link_to (@current_user.subscriber? ? "<strong>#{@match.company_name}</strong>".html_safe : "[Name Hidden]"), "#" %> <img src="/images/logos_marketplace.svg" height="30" width="30" alt="Marketplace" style="visibility: hidden;"/></li>
		</ul>
	</div>
</div>


<% end %>

<div id="match-view">

<%= render "match_view" %>

</div> <!-- /.#match-view -->









