<%= render partial: "shared/topbar" %>

<% content_for :subnav do %>

<div class="row">
	<div class="small-12 columns">
		<ul class="breadcrumbs">
			<% if @referrer %>

				<% matchtype = @current_user.distributor ? "Brand" : "Distributor" %>
				<li><%= link_to "Your #{matchtype} Matches", all_matches_url %></li>
				
				<%# if @referrer == "index" %>
				  <%#= link_to "All #{matchtype}s", all_matches_url %>
				<% if @referrer == "index_saved_matches" %>  
				  <li><%= link_to "Saved #{matchtype}s", saved_matches_url %></li>
				<% elsif @referrer == "index_contacted_matches" %>  
				  <li><%= link_to "#{matchtype}s you contacted", contacted_matches_url %></li>
				<% elsif @referrer == "index_incoming_matches" %>  
				  <li><%= link_to "#{matchtype}s contacting you", incoming_matches_url %></li>
			  <% end %>
			  
		  <% else %>
				<li><%= link_to 'All Matches', all_matches_url %></li>
		  <% end %>
		  <li class="current"><%= link_to "<strong>#{@match.company_name}</strong>".html_safe, "#" %></li>
		</ul>

	</div>
</div>


<% end %>

<div id="match-view">

<%= render "match_view" %>

</div> <!-- /.#match-view -->









