
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

<% content_for :subnav do %>
<div class="row">
	<div class="small-12 columns">
		<dl class="sub-nav">
		  <dd><%= link_to 'PUBLIC Profile', brand_public_profile_url %></dd>
		  <dd class="active"><%= link_to 'FULL Profile', "#" %></dd>
		  <dd><%= link_to 'EDIT Profile', brand_url %></dd>
		</dl>
	</div>
</div>
<% end %>


	<div class="row">


		<div class="medium-3 columns">
			<div class="ldpanel info-sidebar">
				<div class="row">
					<div class="small-12 columns">

						<p>
							This is your Full Profile.<br>  [Stuff here about public profiles]
						</p>

						<div class="row">
							<div class="small-12 columns text-center">

								<% percent = check_brand_full_profile %>

								<div class="progress small-12 <%= percent == 100 ? "success" : "" %>" style="margin: auto;">
								  <span class="meter" style="width: <%= percent %>%"></span>
								</div>

								<small>Your Full Profile is <%= percent == 100 ? "" : "#{percent}%" %> Complete!</small>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>


		<div class="medium-9 columns previewtile">

			<%= render partial: "/shared/profile/brand_full_profile_tiles", locals: {profile: @profile} %>



		</div><!-- /.medium-9 columns previewtile medium-centered -->
		
	</div><!-- /.row -->
