
<%= render partial: "shared/topbar" %>

<div class="row collapse">
	<div class="small-12 columns" id="page-content">

<div style="background: white; height: 80vh;">

<div class="row">
<div class="medium-6 push-6 columns">
	<ul class="button-group even-3">
  <li><%= link_to 'PUBLIC Profile', "#", class: "tiny button info"%></li>
  <li><%= link_to 'FULL Profile', brand_full_profile_url, class: "tiny button secondary" %></li>
  <li><%= link_to 'EDIT Profile', brand_url, class: "tiny button secondary" %></li>
  </ul>
</div>
<div class="medium-6 pull-6 columns">
	<div data-alert class="alert-box secondary radius">
		<div class="row">
			<div class="small-6 columns">
					<h2>Public Profile</h2>
			</div>
			<div class="small-6 columns">					
				<div class="row">
					<div class="small-12 columns text-center">
						<% percent = check_brand_public_profile %>
						<div class="progress small-12 <%= percent == 100 ? "success" : "" %>" style="margin: auto;">
						  <span class="meter" style="width: <%= percent %>%"></span>
						</div>
						<small>Your Public Profile is <%= percent == 100 ? "" : "#{percent}%" %> Complete!</small>
					</div>
				</div>
			</div>
			<div class="small-12 columns">
				<br>
				<small>Your public profile is viewable by all registered distributors. It displays limited publicly available information, including your country of origin, year established, product sector and retail channels.</small>
			</div><!--/.small-12-->
		</div>
	</div>
</div>
</div>

	<div class="row">

		<div class="medium-10 large-8 medium-centered columns">
			

			<%= render partial: "/shared/profile/profile_list_tile", locals: {match: @profile} %>

			
		</div>

	</div><!-- /.row -->


</div>

	</div>
</div>


