
<%= render partial: "shared/topbar" %>

<% content_for :javascript_foot do %>
	<%= javascript_tag do %>

	<% end %>
<% end %>

<div class="row">
	<div class="small-12 columns">
		<dl class="sub-nav">
		  <dd class="active"><%= link_to 'PUBLIC Profile', "#" %></dd>
		  <dd><%= link_to 'FULL Profile', brand_full_profile_url %></dd>
		  <dd><%= link_to 'EDIT Profile', brand_url %></dd>
		</dl>
	</div>
</div>


	<div class="row">
		<div class="medium-9 medium-centered columns">
			<div class="ldpanel">
				<div class="row">
					<div class="medium-11 medium-centered columns">
						<br>
						<div class="onboard-instructions">
							This is your Public Profile.  [Stuff here about public profiles]
						</div>

							<div class="row">
								<div class="small-12 columns text-center">

									<% percent = check_brand_public_profile %>

									<div class="progress small-12 medium-8 <%= percent == 100 ? "success" : "" %>" style="margin: auto;">
									  <span class="meter" style="width: <%= percent %>%"></span>
									</div>

									Your Public Profile is <%= percent == 100 ? "" : "#{percent}%" %> Complete!
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">

		<div class="medium-9 columns previewtile small-centered">
			

			<%= render partial: "/shared/profile/brand_public_profile_tiles" %>
			
		</div>

	</div><!-- /.row -->


