
<div class="previewtile">

<div class="row">
	<div class="small-12 columns">
		
<%= render "conversation" %>

		<div class="row">

			<div class="medium-4 columns">

				<div class="profile-container">
					<div class="profile-header" id="profile-main-top">
						<h6><strong>Brand</strong></h6>
						<h2><%= profile.company_name %></h2>
					</div>
					<div class="profile-content">

				<%#= image_tag profile.logo.url, width: "100", height: "100", alt: "Logo" %>
				<% if profile.logo_file_name %>
					<%= image_tag profile.logo.url(:medium), alt: "Logo" %>
				<% else %>
					<% if !profile.facebook.blank? && fb_picture(profile.facebook) %>
						<%= image_tag fb_picture(profile.facebook) %>
					<% else %>
						<%= image_tag profile.logo.url(:medium), width: "100", height: "100", alt: "Logo" %>
					<% end %>					
				<% end %>


						<%= simple_format(profile.brand_positioning) %>
						
						<h3>
						<% unless profile.website.blank? %>
						<%= link_to "website", "//#{clean_url(profile.website)}" %>
						<% end %>
						<% unless profile.facebook.blank? %>
						<%= profile.website.blank? ? "" : "/" %>
							<%= link_to "facebook", "//#{clean_url(profile.facebook)}" %>
						<% end %>
						<% unless profile.linkedin.blank? %>
						<%= profile.website.blank? && profile.website.blank? ? "" : "/" %>
							<%= link_to "linkedin", "//#{clean_url(profile.linkedin)}" %>
						<% end %>
						</h3>
						
					</div>
					<div class="profile-indicators text-right">
						<%= render partial: "shared/profile/components/indicators", locals: {match: profile} %>
					</div>
				</div>


				<% if controller_name == "matches" %>
				<div class="profile-container">
					<div class="profile-header" id="profile-main-bottom">
						<div class="text-right">

								<%= render partial: "matches/contactbutton", locals: {profile: @match} %> <%= render partial: "shared/profile/components/savebutton", locals: {profile: @match} %>

						</div>
					</div>
				</div>
				<% end %>

				<br>

				<div class="profile-container">
					<div class="profile-header">
						<h4>GENERAL INFO</h4>
					</div>
					<div class="profile-content">

						<div class="row collapse">
							<div class="small-6 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">Headquarters</span><br>
									<strong><%= profile.country_of_origin %></strong>
								</div>							
							</div><!--/.small-6-->
							<div class="small-6 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">Company Size</span><br>
									<strong><%= CompanySize.find(profile.company_size).name rescue nil %></strong>
								</div>
							</div><!--/.small-6-->
						</div><!--/.row-->


						<div class="row collapse">
							<div class="small-6 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">Year Established</span><br>
									<strong><%= profile.year_established.strftime("%Y") rescue nil %></strong>
								</div>						
							</div><!--/.small-6-->
							<div class="small-6 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">Countries of Distribution</span><br>
									<strong>
										<% profile.export_countries.sort_by{ |m| m.country.downcase }.each do |ec| %>
											<%= ec.country %><br>
										<% end %>
									</strong>
								</div>
							</div><!--/.small-6-->
						</div><!--/.row-->


						<div class="row collapse">
							<div class="small-12 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">Sectors</span><br>
									<% profile.sectors.each do |s| %>
										<strong><%= s.name %></strong><br>
									<% end %>
								</div>					
							</div><!--/.small-12-->
						</div>
						<div class="row collapse">
							<div class="small-12 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">Channels</span><br>
									<% profile.channels.each do |ch| %>
										<strong><%= ch.name %></strong><br>
									<% end %>
									<% if profile.channel_capacities.where(channel_id: 0).length > 0 %>
										<% profile.channel_capacities.where(channel_id: 0).each do |cch| %>
											<strong><%= cch.custom_channel_name %> *</strong><br>
										<% end %>
										<small>(* Custom Channels)</small>
									<% end %>
								</div>
							</div><!--/.small-12-->
						</div><!--/.row-->

						<div class="row collapse">
							<div class="small-12 columns">
								<div class="preview-data">
									<span class="preview-data-tile-title">General Contact Information</span><br>
									  <strong><%= profile.contact_info.contact_name %>,<br> <%= profile.contact_info.contact_title %><br></strong>
									  <%= profile.contact_info.address1 %><br>
									  <%= profile.contact_info.address2 %><br>
									  <% unless profile.contact_info.city.blank? && profile.contact_info.state.blank? && profile.contact_info.postcode.blank? %>
									  <%= profile.contact_info.city %> <%= profile.contact_info.state %> <%= profile.contact_info.postcode %><br>
									  <% end %>
									  <%= profile.contact_info.country %><br>
									  <%= profile.contact_info.phone %><br>
									  <a href="mailto:<%= profile.contact_info.email %>"><%= profile.contact_info.email %></a>
								</div>		
							</div><!--/.small-12-->
						</div><!--/.row-->

					</div>
					
				</div>

			</div>

			<div class="medium-8 columns">


				<% if profile.products.where(current: true).length > 0 %>
				<div class="profile-container">
					<div class="profile-header">
						<h4>CURRENT PRODUCTS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">

					<% profile.products.where(current: true).each do |p| %>
						<%= render partial: "shared/collections_view/products", locals: {
							collitem: p
						} %>
					<% end %>

					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>
				<% end %>


				<% if profile.products.where(current: false).length > 0 %>				
				<div class="profile-container">
					<div class="profile-header">
						<h4>UPCOMING PRODUCTS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">

					<% profile.products.where(current: false).each do |p| %>																
						<%= render partial: "shared/collections_view/products", locals: {
							collitem: p
						} %>
					<% end %>

					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>
				<% end %>


				<% unless profile.brand_photos.blank? %>


				<div class="profile-container">
					<div class="profile-header">
						<h4>BRAND GALLERY</h4>
					</div><!--.profile-header-->
					<div class="profile-content">
				
						<div class="galleria-brand-photos">
							<% profile.brand_photos.each do |photo| %>
								<%= link_to photo.photo.url(:large) do %>
									<%= image_tag photo.photo.url(:small) %>
								<% end %>
					    <% end %>
							<% content_for :javascript_foot do %>
								<% javascript_tag do %>
								initializeGallery(".galleria-brand-photos")
								<% end %>
							<% end %>					    
						</div>



					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>



				<% end %>

				<% if profile.press_hits.length > 0 %>
				<div class="profile-container">
					<div class="profile-header">
						<h4>PRESS CLIPS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">
										
					<% profile.press_hits.each do |p| %>
						<%= render partial: "shared/collections_view/press_hits", locals: {
							collitem: p
						} %>
					<% end %>

					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>
				<% end %>


				<% if profile.trade_shows.length > 0 %>
				<div class="profile-container">
					<div class="profile-header">
						<h4>TRADE SHOWS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">

													
						<% profile.trade_shows.each do |p| %>
							<%= render partial: "shared/collections_view/trade_shows", locals: {
								collitem: p
							} %>
						<% end %>
													
					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>
				<% end %>


				<% if profile.patents.length > 0 %>
				<div class="profile-container">
					<div class="profile-header">
						<h4>PATENTS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">

					<% profile.patents.each do |p| %>
						<%= render partial: "shared/collections_view/patents", locals: {
							collitem: p
						} %>
					<% end %>
													
					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>
				<% end %>


				<% if profile.trademarks.length > 0 %>
				<div class="profile-container">
					<div class="profile-header">
						<h4>TRADEMARKS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">
													
					<% profile.trademarks.each do |p| %>
						<%= render partial: "shared/collections_view/trademarks", locals: {
							collitem: p
						} %>
					<% end %>

					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<br>
				<% end %>


				<% if profile.compliances.length > 0 %>
				<div class="profile-container">
					<div class="profile-header">
						<h4>CERTIFICATIONS</h4>
					</div><!--.profile-header-->
					<div class="profile-content">

					<% profile.compliances.each do |p| %>
						<%= render partial: "shared/collections_view/compliances", locals: {
							collitem: p
						} %>
					<% end %>

					</div><!--.profile-content-->
				</div><!--.profile-container-->
				<% end %>


			</div><!--/.medium-8-->
		</div><!--/.row-->

	</div><!--/.small-11 small-centered-->
</div><!--/.row-->

</div><!--/.previewtile-->
