
<div class="row">
	<div class="small-12 columns">
	
		

			<div class="row">
				<div class="small-6 medium-8 columns text-right">

					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Country of Origin</span><br>
								<strong><%= profile.country_of_origin %></strong>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Year Established</span><br>
								<strong><%= profile.year_established.strftime("%Y") rescue nil %></strong>
							</div>
						</div>
					</div>

				</div><!--/.medium-8 columns -->

				<div class="small-6 medium-4 columns">

					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Sectors</span><br>
								<% profile.sectors.each do |s| %>
									<strong><%= s.name %></strong><br>
								<% end %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Channels</span><br>
								<% profile.channels.each do |ch| %>
									<strong><%= ch.name %></strong><br>
								<% end %>
								<% if profile.channel_capacities.where(channel_id: 0).length > 0 %>
									<% profile.channel_capacities.where(channel_id: 0).each do |cch| %>
										<strong><%= cch.custom_channel_name %> *</strong><br>
									<% end %>
									<small>(* Custom Channels)</small>
								<% end %>
							</div>
						</div>
					</div>	
			
				</div><!--/.medium-4 columns -->


			</div><!--/.row -->

		

	</div>
</div>


