<div class="row">
	<div class="small-12 columns">
	
		

			<div class="row">
				<div class="small-6 medium-8 columns text-right">
					
					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<h5>Countries of Distribution</h5>
								
									<% profile.export_countries.sort_by{ |m| m.country.downcase }.each do |ec| %>
										<strong><%= ec.country %> <%= ec.country == profile.country_of_origin ? "<small>(Headquarters)</small>".html_safe : "" %></strong><br>
									<% end %>
								
							</div>
						</div>
					</div>


					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<h5>Year Established</h5>
								<strong><%= profile.year_established.strftime("%Y") rescue nil %></strong><br>
							</div>
						</div>
					</div>		

				</div>


				<div class="small-6 medium-4 columns">

					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<h5>Sectors</h5>
								<% profile.sectors.each do |s| %>
									<strong><%= s.name %></strong><br>
								<% end %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-12 columns">
							<div class="preview-data">
								<h5>Channels</h5>
								<% profile.channels.each do |ch| %>
									<strong><%= ch.name %></strong><br>
								<% end %>
								<% if profile.channel_capacities.where(channel_id: 0).length > 0 %>
									<% profile.channel_capacities.where(channel_id: 0).each do |cch| %>
										<strong><%= cch.custom_channel_name %> *</strong><br>
									<% end %>
									<small>(* Custom Channels)</small>
								<% end %>
							</div>
						</div>
					</div>

				</div>
			</div>

		

	</div>
</div>
