<div class="profile-outer-border-tile">
<div class="profile-outer-tile">
	<div class="row">

		<div class="medium-3 columns">
			<img src="/images/Default_Logo.svg" width="200" height="200">
		</div>		
		<div class="medium-7 columns">
			<h2><strong><%= profile.company_name %></strong></h2>
			<h3><small>web</small> <strong><%= link_to profile.website, "//#{profile.website}" %></strong></h3>

			<% if this_match(profile) %>
				<% if i_contacted(this_match(profile)) %>
					<span class="plt-indicator-info"><strong>You Contacted</strong> <%= profile.company_name %></span>
				<% else %>
					<span class="plt-indicator-info"><%= profile.company_name %> <strong>Contacted You</strong></span>
				<% end %>
			<% end %>

			<% if this_match(profile) %>
				<% if !this_match(profile).messages.blank? %>
					<span class="plt-indicator-info">In Conversation</span>
				<% end %>
			<% end %>

		<% if profile.user.last_login %>
			<span class="plt-indicator-info">Active in the past <strong><%= last_activity(profile.user.last_login) %></strong></span>
		<% end %>
		<br>
		</div>
		<% if controller_name == "matches" %>
		<div class="medium-1 columns"><%= render partial: "contactbutton", locals: {profile: @match} %></div>
		<div class="medium-1 columns"><%= render partial: "shared/profile/components/savebutton", locals: {profile: @match} %></div>
		<% end %>
	</div>
</div>

<div class="profile-outer-tile">

	<div class="row">
		<div class="medium-8 large-9 columns">

							<div class="row">
								<div class="small-2 medium-2 large-1 columns">
									<%= render partial: "shared/svg/brandportfolio", locals: {nolabel: true}%>
								</div>
								<div class="small-10 medium-10 large-11 columns">

									<div class="preview-data">
										<span class="preview-data-tile-title"><h3><strong>Current Brand Portfolio</strong></h3></span>


											<% if profile.distributor_brands.where(current: true).length > 0 %>
												<% profile.distributor_brands.where(current: true).each do |p| %>
													<%= render partial: "shared/collections_view/distributor_brands", locals: {
														collitem: p
													} %>
												<% end %>
											<% else %>
											<br>
												[No Current Brands]
											<% end %>										


									</div>

								</div>
							</div>	


							<div class="row">
								<div class="small-2 medium-2 large-1 columns">
									<%= render partial: "shared/svg/brandportfolio", locals: {nolabel: true}%>
								</div>
								<div class="small-10 medium-10 large-11 columns">

									<div class="preview-data">
										<span class="preview-data-tile-title"><h3><strong>Past Brand Portfolio</strong></h3></span>


										<% if profile.distributor_brands.where(current: false).length > 0 %>
											<% profile.distributor_brands.where(current: false).each do |p| %>
												<%= render partial: "shared/collections_view/distributor_brands", locals: {
													collitem: p
												} %>
											<% end %>
										<% else %>
										<br>
											[No Past Brands]
										<% end %>


									</div>

								</div>
							</div>								



							<div class="row">
								<div class="small-2 medium-2 large-1 columns">
									<%= render partial: "shared/svg/tradeshow", locals: {nolabel: true}%>
								</div>
								<div class="small-10 medium-10 large-11 columns">

									<div class="preview-data">
										<span class="preview-data-tile-title">Trade Shows</span><br>

											<% if profile.trade_shows.length > 0 %>
												<% profile.trade_shows.each do |p| %>
													<%= render partial: "shared/collections_view/trade_shows", locals: {
														collitem: p
													} %>
												<% end %>
											<% else %>
											<br>
												[No Trade Shows]
											<% end %>

									</div>

								</div>
							</div>	


		</div> <!--/.medium-8 large-9 columns -->
		

		<div class="medium-4 large-3 columns">


					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/globe", locals: {nolabel: true} %>
						</div>
						<div class="small-10 medium-9 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Headquarters</span><br>
								<strong><%= profile.country_of_origin %></strong>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/employees", locals: {nolabel: true} %>
						</div>
						<div class="small-10 medium-9 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Company Size</span><br>
								<strong><%= CompanySize.find(profile.company_size).name rescue nil %></strong>
							</div>
						</div>
					</div>	

					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/calendar", locals: {nolabel: true} %>
						</div>
						<div class="small-10 medium-9 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Year Established</span><br>
								<strong><%= profile.year_established.strftime("%Y") rescue nil %></strong>
							</div>
						</div>
					</div>					

					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/shipping", locals: {nolabel: true} %>
						</div>
						<div class="small-10 medium-9 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Countries of Distribution</span><br>
								<strong>
									<% profile.export_countries.sort_by{ |m| m.country.downcase }.each do |ec| %>
										<%= ec.country %><br>
									<% end %>
								</strong>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/sector", locals: {nolabel: true} %>
						</div>
						<div class="small-10 medium-9 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Sectors</span><br>
								<% profile.sectors.each do |s| %>
									<strong><%= s.name %></strong><br>
								<% end %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/channel", locals: {nolabel: true}%>
						</div>
						<div class="small-10 medium-9 columns">
							<div class="preview-data">
								<span class="preview-data-tile-title">Channels</span><br>
								<% profile.channels.each do |ch| %>
									<strong><%= ch.name %></strong><br>
								<% end %>
								<% if profile.channel_capacities.where(channel_id: 0).length > 0 %>
									<% profile.channel_capacities.where(channel_id: 0).each do |cch| %>
										<strong><%= cch.custom_channel_name %> *</strong><br>
									<% end %>
									<small>(* Custom Channels)</small>
								<% end %>
							</div>
						</div>
					</div>


					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/sales", locals: {nolabel: true}%>
						</div>
						<div class="small-10 medium-9 columns">

							<div class="preview-data">
								<span class="preview-data-tile-title">Sales and Education</span><br><br>

									Inside Sales Force:<br>
									<strong><%= profile.inside_sales_size %></strong>
									<hr>
									Outside Sales Force:<br>
									<strong><%= profile.outside_sales_size %></strong>

							</div>

						</div>
					</div>


					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/marketing", locals: {nolabel: true}%>
						</div>
						<div class="small-10 medium-9 columns">

							<div class="preview-data">
								<span class="preview-data-tile-title">Marketing and PR</span><br><br>


										Internal Marketing/ <br>PR Team Size:<br>
										<strong><%= profile.internal_marketing_size %></strong><hr>

										<strong><%= profile.employ_pr_agency ? "Does use" : "Does not use" %></strong>
										<br>External Marketing/PR<hr>

										Customer Database Size:<br>
										<strong><%= profile.customer_database_size %></strong><hr>



										Product Marketing:<br>

										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Print" ,p: profile.marketing_via_print}%>
										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Online" ,p: profile.marketing_via_online}%>
										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Email" ,p: profile.marketing_via_email}%>
										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Outdoor" ,p: profile.marketing_via_outdoor}%>
										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Events" ,p: profile.marketing_via_events}%>
										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Direct Mail" ,p: profile.marketing_via_direct_mail}%>
										<%= render partial: "/shared/profile/components/distributor_marketing_type", locals: {name: "Classes" ,p: profile.marketing_via_classes}%>

									
							</div>

						</div>
					</div>

					<div class="row">
						<div class="small-2 medium-3 columns">
							<%= render partial: "shared/svg/globe", locals: {nolabel: true} %>
						</div>
						<div class="small-10 medium-9 columns">

							<div class="preview-data">
								<span class="preview-data-tile-title">General Contact Information</span><br>
								  <strong><%= profile.contact_info.contact_name %>,<br> <%= profile.contact_info.contact_title %><br></strong>
								  <%= profile.contact_info.address1 %><br>
								  <%= profile.contact_info.address2 %><br>
								  <% unless profile.contact_info.city.blank? && profile.contact_info.state.blank? && profile.contact_info.postcode.blank? %>
								  <%= profile.contact_info.city %> <%= profile.contact_info.state %> <%= profile.contact_info.postcode %><br>
								  <% end %>
								  <%= profile.contact_info.country %><br>
								  <%= profile.contact_info.phone %><br>
								  <a href="mailto:<%= profile.contact_info.email %>"><%= profile.contact_info.email %></a>
							</div>

						</div>
					</div>



		</div> <!--/.medium-4 large-3 columns -->



	</div> <!--/.row -->
</div> <!--/.profile-outer-tile -->
</div> <!--/.profile-outer-border-tile -->