
<div class="profile-list-tile">

	<div class="row">
		<div class="medium-2 columns">
			<%= image_tag match.logo.url(:medium), width: "75", height: "75", alt: "Logo" %>
		</div>
		<div class="medium-10 columns">

			<div class="row">
				<div class="medium-9 columns">
					<h2><%= match.company_name %></h2>

					<%  if @current_user.subscriber? && action_name != "public_profile" %>
						<% if match.class.to_s == "Brand" %>
							<%= simple_format(match.brand_positioning) %>
						<% end %>
					<% end %>

					<% if match.class.to_s == "Distributor" %>
					Rating: <%= match.rating ? match.rating : "N/A" %>
					<% end %>
				</div>
				<div class="medium-3 columns text-right">
					<% if controller_name == "matches" || controller_name == "messages" %> 
						<%= render partial: "shared/profile/components/savebutton", locals: {profile: match} %>
					<% end %>
				</div>			
			</div><!--/.row-->

			<% if @current_user.subscriber? && action_name != "public_profile"  %>
				<div class="row">
					<div class="small-12 columns">

						<% m = this_match(match) %>
						<% if action_name == "index" || action_name == "index_saved_matches" %>		
							<% if m %>
								<% if i_contacted(m) %>
									<span class="plt-indicator-info"><strong>You Contacted</strong> <%= match.company_name %></span>
								<% else %>
									<% if m.accepted %>
										<span class="plt-indicator-info"><%= match.company_name %> <strong>Contacted You</strong></span>
									<% end %>
								<% end %>
							<% end %>
						<% end %>

						<% if action_name == "index" || action_name == "index_saved_matches" || action_name == "index_contacted_matches" || action_name == "index_incoming_matches" %>
							<% if m %>
								<% if m.messages.blank? && m.initial_contact_by == @current_user.type? %>
									<span class="plt-indicator-info">Awaiting Response</span>
								<% end %>
								<% unless m.messages.blank? %>
									<span class="plt-indicator-info">In Conversation</span>
								<% end %>
							<% end %>
						<% end %>

						<% if match.user.last_login %>
							<span class="plt-indicator-info">Active in the past <strong><%= last_activity(match.user.last_login) %></strong></span>
						<% end %>

						<br>

						<% has_unread, count = unread_count_from_match(match) %>
						<% if has_unread %>
						<span class="plt-indicator-alert"><%= count %> unread message<%= count > 1 ? "s" : "" %></span>
						<% end %>
						<% if m %>
						<%= !m.accepted && !i_contacted(m) ? "<span class='plt-indicator-alert'>NEW contact request from #{match.company_name}</span>".html_safe : "" %>
						<% end %>

					</div>
				</div>
			<% end %>





		</div><!--/.medium-9-->
	</div><!--/.row-->

	<div class="row">
		<div class="medium-6 columns">
			<%  if @current_user.subscriber? && action_name != "public_profile" %>
				<ul class="small-block-grid-2 medium-block-grid-6 ">
					<% if match.class.to_s == "Brand" %>
						<% if collitem = match.products %>
							<% collitem.each do |c| %>
									<% c.product_photos.each do |photo| %>
										<li>
										<a data-dropdown="d_<%= photo.id %>" href="#"><%= image_tag photo.photo.url(:small) %></a>
										<div id="d_<%= photo.id %>" data-dropdown-content class="f-dropdown content medium" aria-hidden="true" tabindex="-1">
										  <%= c.name %>
										  <%= image_tag photo.photo.url(:large), width: "400"%>

										</div>
										</li>
									<% end %>

							<% end %>
						<% end %>
					<% end %>
				</ul>
			<% end %>
		</div>
		<div class="medium-6 columns">

		<% if match.class.to_s == "Distributor" %>
		<%= render partial: "shared/profile/distributor_public_profile", locals: {profile: match} %>
		<% else %>
		<%= render partial: "shared/profile/brand_public_profile", locals: {profile: match} %>
		<% end %>

	</div><!--/.medium-6-->
</div><!--/.row-->


</div>