
<div class="profile-list-tile-small">
	<div class="row">
		<div class="medium-1 columns">
			<% if @current_user.subscriber? && action_name != "public_profile"  %>
				<% if profile_item.logo_file_name %>
					<%= link_to view_match_url(profile_item.id, action_name) do %>
						<%= image_tag profile_item.logo.url(:medium), alt: "Logo" %>
					<% end %>
				<% else %>
					<% if !profile_item.facebook.blank? && fb_picture(profile_item.facebook) %>
						<%= link_to view_match_url(profile_item.id, action_name) do %>
							<%= image_tag fb_picture(profile_item.facebook) %>
						<% end %>
					<% else %>
						<%= link_to view_match_url(profile_item.id, action_name) do %>
							<%= image_tag profile_item.logo.url(:medium), alt: "Logo" %>
						<% end %>
					<% end %>					
				<% end %>
			<% else %>
			<span data-tooltip aria-haspopup="true" class="has-tip" title="<%= profile_item.class.to_s %> logo hidden. Subscribe to view full profile"><%= image_tag profile_item.logo.url(:public), width: "40", height: "40", alt: "Logo" %></span>
			<% end %>
		</div><!--/.medium-1-->
		<div class="medium-4 columns">

					<% if @current_user.brand %>
						<% profile_item.export_countries.each do |ec| %>
							<small><%= ec.country %></small><br>
						<% end %>
					<% elsif @current_user.distributor %>
						<% profile_item.sectors.sort_by{|s| s.name}.each do |s| %>
							<small><%= s.name %></small><br>
						<% end %>
					<% end %>

					<% if @current_user.subscriber? && action_name != "public_profile" %>
						<span style="font-weight: 200;font-size:1.3em;"><%= link_to profile_item.company_name, view_match_url(profile_item.id, action_name) %></span>
					<% else %>
						<span data-tooltip aria-haspopup="true" class="has-tip" title="<%= profile_item.class.to_s %> name hidden. Subscribe to view full profile">
						<%= ("&blk12;" * profile_item.company_name.length).html_safe %>
						</span>
					<% end %>
		</div><!--/.medium-4-->
		<div class="medium-2 columns">
					<br>
					<% if @current_user.brand %>
						<%= render partial: "shared/profile/distributor_rating", locals: {d: profile_item} %>
					<% end %>
		</div><!--/.medium-2-->
		<div class="medium-5 columns text-right">
					<% if @current_user.subscriber? && action_name != "public_profile"  %>
						<%= render partial:"shared/profile/components/indicators_h", locals:{match: profile_item} %>
					<% end %>
		</div><!--/.medium-3-->
	</div>
</div>