			<div class="row">
				<div class="medium-4 columns">
					<dl class="tabs right" id="myTabs" data-tab>
						<dd class="active"><a href="#panel5"><%= render partial: "shared/svg/calendar" %></a></dd>
					  <dd><a href="#panel1"><%= render partial: "shared/svg/globe" %></a></dd>
					  <dd><a href="#panel2"><%= render partial: "shared/svg/employees" %></a></dd>
					  <dd><a href="#panel3"><%= render partial: "shared/svg/sector" %></a></dd>
					  <dd><a href="#panel4"><%= render partial: "shared/svg/channel" %></a></dd>
					</dl>
				</div>
				<div class="medium-8 columns">

					<div class="tabs-content">
					  <div class="content active" id="panel5">

					  	<div class="preview-data-title">
								Year Established
							</div>
							<div class="preview-data">
								<div id="profile-year-established"><%= @profile.year_established.strftime("est. %Y") rescue nil %></div>
							</div>

					  </div>
					  <div class="content" id="panel1">

					  	<div class="preview-data-title">
								Country of Origin
							</div>
							<div class="preview-data">
								<h1><%= @profile.country_of_origin %></h1>
							</div>

					  </div>
					  <div class="content" id="panel2">

									  	<div class="preview-data-title">
												Company Size
											</div>
											<div class="preview-data">
												<h1><%= CompanySize.find(@profile.company_size).name %></h1>
											</div>    

					  </div>
					  <div class="content" id="panel3">


									  	<div class="preview-data-title">
												Sectors
											</div>
											<div class="preview-data">
												<% @profile.sectors.each do |s| %>
													<h3><strong><%= s.name %></strong></h3>
												<% end %>
											</div>

					  </div>
					  <div class="content" id="panel4">

	 								  	<div class="preview-data-title">
												Channels
											</div>
											<div class="preview-data">
												<% @profile.channels.each do |ch| %>
													<h3><strong><%= ch.name %></strong></h3>
												<% end %>
												<% if @profile.channel_capacities.where(channel_id: 0).length > 0 %>
													<% @profile.channel_capacities.where(channel_id: 0).each do |cch| %>
														<h3><strong><%= cch.custom_channel_name %> *</strong></h3>
													<% end %>
													<small>(* Custom Channels)</small>
												<% end %>
											</div>

					  </div>
					</div>
				</div>
			</div>