<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Landing" %></title>
  <link rel="shortcut icon" href="/favicon.ico?v=2" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>

  <%#= TypeKit %>
	<script src="//use.typekit.net/aaw2ric.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

  <%= content_for?(:javascript_head) ? yield(:javascript_head) : "" %>

	<% if @display %>
		<%= javascript_tag do %>
			<% if @display.background_photo_file_name %>
			var bgImage = <%= "\"#{@display.background_photo.url(:large)}\"".html_safe %>;
			<% end %>
			var bgColor = <%= "\"\##{@display.background_color}\"".html_safe %>;
		<% end %>
	<% end %>

</head>
<body>

	<div class="wrapper row">
		<div class="small-12 columns">

					<%= content_for?(:user_head) ? yield(:user_head) : "" %>

					<%= yield %>

		</div>
	</div>



<%= javascript_include_tag "application" %>
<%= content_for?(:javascript_foot) ? yield(:javascript_foot) : "" %>
</body>
</html>



